[2014-07-04 12:09] apendua opened #1 "Use mongod from meteor dev_bundle"
Currently we require the user to have `mongod` command available on the path. This is not necessary since the user has probably `meteor` installed on their system, and so the corresponding development bundle as well. The mongo is usually located at:

[code]

but it cannot be guarantied. The goal of this ticket is to figure out the best way to find the location of the mongo binaries. In the worst c

[2014-07-04 12:15] apendua opened #2 "Use different directory for db files"
Currently we're using the "global" mongo binaries, which means that data are stored somewhere in the system directories. This is wrong, because if the mongo deamon is already running (and this is very likely on linux systems) we cannot spawn the process again. We should instead use custom `--dbpath` option, but the user should be informed of what's going on.

I think that the best option would be

[2014-07-04 12:17] apendua opened #3 "Store project specific options somewhere"
My first guess would be:

[code]

The user should be able to commit this to the repository. The configuration file should contain some options related to: #1 and #2.

[2014-07-04 12:20] apendua opened #4 "Compile the source code before running tests"
as we're not running the app with `meteor` command but rather `node path/to/main.js`, we want to be sure that the source code is up to date, and if it's not run `meteor` once to compile it.

[2014-07-04 12:29] apendua opened #5 "Copy source code before running tests"
Before we run the test suite, we should copy all the source code from `./meteor/local/build` to another directory, so for example `./tests/.gagarin/local/build`. The reason we may want to do it (should be probably an option left for the user), is that while running a complicated test suite the user may want to work with the source code, instead of getting himself a cup of coffee. The `meteor` woul

[2014-07-04 12:40] apendua opened #6 "Do not spawn new mongod process if we see it's already running"
Doing so might cause problems on linux systems, which can already have `mongod` running in the background. Let's not spawn another instance if that's the case.

[2014-07-04 12:43] apendua opened #7 "Allow user to decide what db they want to use"
Currently we create and a drop a database. This seems to work fine but it introduces some overhead. Theoretically a user may want to reuse the same db over and over again. They should be able to make this choice.

[2014-07-04 12:45] apendua opened #8 "Allow defining fixtures"
Fixtures should be loaded before any meteor code is executed, so we need to do it while connecting to database before we spawn meteor process. This is already done for dropping database, so we could reuse this pattern.

[2014-07-04 12:48] apendua opened #9 "Write tests for gagarin"
We cant go further with no tests on the board.

[2014-07-04 12:52] apendua opened #10 "Write a decent documentation"
so that people can start using Gagarin :)

[2014-07-25 08:35] #2 closed, assigned to apendua

[2014-08-08 11:18] #4 closed, assigned to nobody

[2014-08-08 12:03] #1 closed, assigned to nobody

[2014-08-08 12:04] #6 closed, assigned to apendua

[2014-08-08 12:07] #3 closed, assigned to nobody

[2014-12-02 13:00] apendua opened #13 "Write server error logs to a given file"

[2014-12-05 15:19] apendua opened #14 "Add support for Meteor.settings"

[2014-12-05 15:19] apendua opened #15 "Solve the problem of very long builds"

[2014-12-05 15:20] apendua opened #16 "Implement closures on the client"

[2014-12-11 08:10] apendua opened #17 "Make gagarin a mocha custom ui ..."
... because it makes it much more "portable". The only problem is that the build process needs to be deferred somehow, because now it's just a part of `Gagarin.run`.

Maybe it's a little radical but we could probably make `build` a totally separated command, so the user could call `gagarin build` whenever they think it's needed, or use `--build` option?

@pociej any other ideas?

[2014-12-11 08:14] apendua opened #18 "The value of "-m" option should be converted to int"
This is now used to define timeout for meteor loading and it should be a number and not a string,

[2014-12-11 08:17] apendua opened #19 "When scanning the directory containing tests, omit subdirectories ..."
... unless user specifies `--recursive` option. Now when the test directory contains a subfolder, e.g. `helpers` the test runner tries to open it :/

[2014-12-11 08:18] apendua opened #20 "set/getOrientation methods are not working as expected"
... lets remove them from the API until we decide what we should do with them.

[2014-12-11 08:19] apendua opened #21 ""initialize" should run code on the client/server ..."
... using `execute`. Now it only runs code and provides `client/server` objects as `this` - not very useful in my opinion.

[2014-12-11 08:22] apendua opened #22 "The default timeouts should be configurable ..."
... and they should depend somehow on the global mocha timeout. For example if we're waiting for an element to show up for 5 seconds and the mocha timeout is 2 seconds it does not really make sense because if the test fails we will only see a "raw" mocha timeout message.

We should probably warn the user if the timeouts are configured improperly, or ... we could adjust them automatically when we t

[2014-12-11 08:23] apendua opened #23 "Implement a fiber-wrapped gagarin ui ..."
... because they're still people who don't like promises. This should be an option.

[2014-12-11 08:24] apendua opened #24 "Write tests for every single "built-in" helper ..."

[2014-12-11 08:25] apendua opened #25 "Write tests for chaining ..."
... to see if all edge cases are properly resolved. Will provide more details in comments.

[2014-12-11 08:27] apendua opened #26 "The gagarin communication should be done through DDP ..."
... because this way we will be able to run the same tests against machines which are deployed remotely, which is quite nice. It will also simplify the implementation a lot. We can use:

https://www.npmjs.com/package/ddp

on the test framework side.

[2014-12-11 08:28] #16 closed, assigned to nobody

[2014-12-11 08:41] #9 closed, assigned to nobody

[2014-12-11 08:59] apendua opened #27 "call and apply should have a different names ..."
... because `call` and `apply` suggests we call meteor methods and it's confusing.

[2014-12-13 23:02] #26 closed, assigned to apendua

[2014-12-13 23:04] apendua opened #28 "Add options to skip the initial build step"
... because it may be useful in CI environments.

[2014-12-13 23:07] apendua opened #29 "Allow connecting to already working meteor instances ..."
... probably remote. It should be pretty much doable because we are now using DDP methods to execute Gagarin's server side code.

[2014-12-15 09:17] apendua opened #30 "If web drvier is not listening on the given port ..."
... show a usefull message rather than "timeout".

[2014-12-15 10:10] apendua opened #31 "Add "verbose" option so that the user can see logs ..."
... both server and client logs. Actually we could allow them to chose from a few types of logs.

Another nice option is to write logs to a file. Of course we should use different types of colours for different log sources.

[2014-12-15 10:24] #27 closed, assigned to nobody

[2014-12-15 10:40] #21 closed, assigned to apendua

[2014-12-15 10:58] #20 closed, assigned to pociej

[2014-12-15 11:12] apendua opened #32 "Allow two different instances to use the same database ..."
... because it's a real game changer and it allows testing concurency scenarios.

[2014-12-15 12:17] apendua opened #33 "Use EJSON, so that we don't break Dates ..."
... and possibly some other datatypes, which user would like to use.

[2014-12-17 11:14] #14 closed, assigned to apendua

[2014-12-17 11:25] #19 closed, assigned to pociej

[2014-12-17 12:36] #29 closed, assigned to apendua

[2014-12-17 12:38] apendua opened #34 "Add authentication for remote testing"
Currently if `Meteor.settings.gagarin` contains `username` and `password` fields we create a user with `user.gagarin === true` property. The idea is to use that user credentials (only if the settings are provided) to authenticate all backdoor methods calls.

[2014-12-17 12:40] apendua opened #35 "Allow passing options to mongod process"
For example a user may want to turn on/off OPLOG.

[2014-12-17 12:58] apendua opened #36 "In documentation add note about remote servers"

[2014-12-17 14:00] apendua opened #37 "Make sure that the injected code does not break browser"
... in particular when there's a syntax error in source code we should either detect it early, or use `eval` so as to handle the error nicely. It's not a problem in `chromedriver`, but `firefox` driver will fail because of these errors.

[2014-12-17 14:03] apendua opened #38 "In documentation add a note about using selenium"

[2014-12-17 14:28] apendua opened #39 "Make sure the versions of Gagarin agree before running tests"
... well at list we should throw if they don't agree and let the user update manually.

[2014-12-18 15:52] #18 closed, assigned to pociej

[2014-12-18 15:53] #30 closed, assigned to pociej

[2014-12-19 12:30] #28 closed, assigned to apendua

[2014-12-19 12:32] #15 closed, assigned to apendua

[2014-12-19 12:43] apendua opened #40 "Clarify which webdriver methods we are going to support"
Also things like `call/applyWebDriver` should be clearly declared as private API.

[2014-12-20 22:58] #39 closed, assigned to pociej

[2014-12-20 22:59] #37 closed, assigned to pociej

[2014-12-20 23:05] #10 closed, assigned to apendua

[2014-12-20 23:17] apendua opened #42 "Make sure the user can use remote webdrivers"

[2014-12-22 19:11] apendua opened #43 "Fallback when mongod crashes"

[2014-12-22 19:12] apendua opened #44 "Make private API private"
... because using low-dash is usually not good enough.

[2014-12-22 19:15] apendua opened #45 "Reduce redundancy of code"
Meteor's backdoor code has a lot in common with browser promise chain implementation. We should probably try to reuse that code as much as we can, because it will be a lot easier to maintain.

[2014-12-22 19:16] apendua opened #46 "Clean up web driver errors before showing them to the user ..."
currently, it's a mess and it has definitely to much obscure information to be useful.

[2014-12-22 19:21] apendua opened #47 "Create "database" or "mongo" helper for mocha UI"
The idea is that the same way we're now handling `browser` and `meteor`, we should be able to spawn a custom `database` instance and use it for the tests with one or many meteors.

[2014-12-22 20:08] apendua opened #48 "Provide chai for the client- and server-side scripts"
Why don't we allow users to call assertions directly in the injected scripts. This would simplify life a lot, because they wouldn't need to close every single test case with `then`.

[2014-12-22 20:27] #38 closed, assigned to apendua

[2014-12-22 21:10] apendua opened #49 "Add a note about CircleCI configuration"

[2014-12-24 09:55] apendua opened #50 "Make sure the tests won't fail if meteor / mongo port is already in use"

[2014-12-29 22:28] apendua opened #51 "Add a notification when meteorite is not installed"
... now we only get an obscure error message.

[2014-12-30 18:53] apendua opened #52 "Compute line numbers for injected code ..."
... and display them as a part of error stack trace.

[2015-01-05 09:57] arunoda opened #53 "How about a fiber based API?"
We can write this as following:

[code]

[code]

We can allow both to work.

[2015-01-05 10:39] arunoda opened #54 "build only when we needed"
We can only build when ever required by doing a simple hack.

* We check for a file at `.meteor/local/build/gagarin-no-need-to-build`
* If that's there we don't build if your ask us to do force building
* If that's not there, we build the app
* Then we add a file to `.meteor/local/build/gagarin-no-need-to-build`
* Then carry on the rest of the process

We could make this as the default behaviour.

[2015-01-05 10:41] arunoda commented on #23
see: #53
May be I can work on this.

[2015-01-05 10:59] arunoda opened #55 "Not building for production by default"
We should avoid building for production by default
(invoking --production)

That will slow down the build time. How about removing that?

[2015-01-05 11:02] apendua commented on #54
@arunoda The current build logic is the following:
- check for mongo lock in `.meteor/local/db`
- if it's there then the app is currently running in development mode and we're not building
- if the lock file is not present we make the decision based on `--skip-build` option

Please let me know if it already fulfills your requirements. Can you give an example of a scenario when we would need some o

[2015-01-05 11:02] arunoda opened #56 "Not building for production by default"
We should avoid building for production by default
(invoking --production)

That will slow down the build time. How about removing that?

[2015-01-05 11:06] apendua commented on #55
Well, I agree that the choice could be left for the user. The reason I decided to use `--production` was to improve the page load time which is the real bottleneck of the tests speed in my opinion. The build is only happening once and in many situations it can be avoided at all, so after all it's not a great cost.

If you insist, I think we can make it an opt-in choice, but I don't want to remove

[2015-01-05 11:07] apendua commented on #56
Duplciate of #55. Closing ...

[2015-01-05 11:07] #56 closed

[2015-01-05 11:08] apendua commented on #53
Cool! As you can see I was already considering it in #23.

[2015-01-05 11:10] arunoda commented on #54
I didn't had a running app in the development mode.
Then we don't need this.

Great.

[2015-01-05 11:10] #54 closed

[2015-01-05 11:11] arunoda commented on #55
No, I think we can close this.
I can run the development version and then we don't need to worry about this.
We might can have something like this in someday. No need for now.

[2015-01-05 11:11] #55 closed

[2015-01-05 11:12] apendua commented on #23
@arunoda That would be cool. We just need to discuss how we let the user to make choice between promises and fibers. I am pretty much sure that we shouldn't mix both solutions because promises does not always work nicely with fibers.

[2015-01-05 11:13] arunoda commented on #53
Great. I'm about to start writing test soon.
So, I might implement something like this.

[2015-01-05 11:13] arunoda commented on #53
We can track this in #23.

[2015-01-05 11:13] #53 closed

[2015-01-05 11:15] arunoda commented on #23
Some solution:

[code]

[2015-01-05 11:18] arunoda commented on #23
This is what I meant by we can use both.

We run the test case inside a Fiber.
If user returns a promise we can run the promise. If not we assume test is done. (using some Fiber related apis).

[2015-01-05 11:21] apendua commented on #23
Well, it makes sense to me. The only thing I am afraid of is that promises wrapped within a Fiber may stop to throw errors properly. I've already expected this BUG some time ago. But if it works, then I am after it!

[2015-01-05 11:23] arunoda commented on #23
Let's see. I'll give it a try.

On Mon Jan 05 2015 at 4:51:23 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-05 11:29] apendua opened #57 "Add a raw ddp helper ..."
So that user can test methods and subscriptions without running a browser instance.

I am thinking about tests of this type:
[code]

[2015-01-05 11:58] arunoda commented on #57
I think this is a really good idea. I had something like this in mind with
Laika 2.
On 2015 ජන 5, සඳුදා at ප.ව. 4.59 Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-05 12:43] apendua commented on #23
@arunoda Can we also make sure that the `done` version of a test case will work as well? I've noticed that in some specific cases it's useful to use `done` instead of returning a promise.

[2015-01-05 12:51] apendua opened #58 "Simplify the way closure synchronization works ..."
... because now it's really ugly.

[2015-01-05 15:26] apendua opened #59 "Currently browsers are starting one after another ..."
... but this may not be the optimal solution. It would seed up tests with multiple browsers a lot if we allowed them to start in parallel.

[2015-01-05 15:56] apendua opened #60 "Expose tools for combining promises"
I am thinking in particular about all the stuff `async` module is providing.

[2015-01-05 16:45] apendua opened #61 "Implement a browser sessions manager ..."
... so that we can reuse it to speed-up subsequent client-side tests.

[2015-01-05 21:09] apendua commented on #24
This BUG c067cc1 is a good example showing why these tests are important.

[2015-01-05 21:45] arunoda opened #62 "How to run tests?"
How can we run tests of gagarin itself?

[2015-01-05 21:49] apendua opened #63 "Implement a custom mocha reporter to be used in verbose mode"
I am thinking about a solution similar to what we had in **laika**. Though, I think it could be a little more readable. Maybe if we used colors?

[2015-01-05 21:49] arunoda commented on #62
never mind :)

[2015-01-05 21:49] #62 closed

[2015-01-05 21:53] apendua commented on #62
@arunoda Just in case someone has the same question in the future
[code]
or just
[code]
in the project root directory. Additionally
[code]
will display information about all possible test options. An important thing is that the testing routine requires a webdriver listening on port `9515`. This can be altered by specifying a custom webdriver location, e.g.
[code]

[2015-01-05 21:54] apendua commented on #62
@arunoda Do you think it would be helpful to add this information at the end of README?

[2015-01-05 21:55] arunoda commented on #62
BTW: We should show people to how to run the chromedriver.
I was new to it and it takes a while for me to download and run it.
On Tue Jan 06 2015 at 3:23:59 AM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-05 21:55] arunoda commented on #62
Yes of course. Put this in the README. At least, at the end.

On Tue Jan 06 2015 at 3:25:27 AM Arunoda Susiripala <
arunoda.susiripala@gmail.com> wrote:

[2015-01-05 21:57] apendua commented on #62
@arunoda Actually, selenium would also do the job but it's a little slower and less stable.

[2015-01-05 21:57] apendua commented on #62
Anyway, I will add these notes to readme as you suggested.

[2015-01-05 22:06] arunoda commented on #62
I like chromedriver. Need to say, it's faster than PhantomJS.

On Tue Jan 06 2015 at 3:27:47 AM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-05 22:14] apendua commented on #62
@arunoda And it has a visible output, which is really nice when it comes to debugging tests.

[2015-01-05 22:17] arunoda commented on #23
Hey,

Do you know the place where I can wrap running test inside a fiber?
Then, I don't need to digg into the code.

[2015-01-05 22:26] apendua commented on #23
@arunoda I guess it should go [here](https://github.com/anticoders/gagarin/blob/devel/lib/interface.js#L27). If you alter the value of `context.it` it will be available from within the tests code.

[2015-01-05 22:26] apendua commented on #23
Does it make sense?

[2015-01-05 22:27] arunoda commented on #23
Yep. I'm working on it.

On Tue Jan 06 2015 at 3:56:57 AM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-06 17:09] apendua commented on #43
@pociej We sometimes get this error message:

![zrzut ekranu 2015-01-06 o 17 55 15](https://cloud.githubusercontent.com/assets/1971195/5632238/66cc18d4-95cd-11e4-97ce-3f3ece71b209.png)

I think that the problem comes from the fact that we are trying to connect to a mongo instance, which is not ready yet. The reason this is happening is because we are using a [pretty naive heuristic](https://github

[2015-01-06 17:12] apendua commented on #61
The simplest way to implement this is to delay destroying the session and put it back to some "pool" so that it can be used with a different test suite. So the question is: when is a good moment to destroy a session? Should we use some timeout? How we can make sure that the sessions are destroyed when a test crashes?

[2015-01-07 17:35] apendua commented on #25
This has lower priority then the other tickets from `Stability` milestone.

[2015-01-07 17:37] apendua commented on #25
Basically, the goal of this ticket is to make sure that the invocations:
[code]
will behave differently. In the first case the commands should be executed one after another. In the second case they should be executed in parallel.

[2015-01-07 17:42] apendua commented on #51
@pociej This ticket boils down to updating [the error message here](https://github.com/anticoders/gagarin/blob/devel/lib/tools.js#L114).

[2015-01-09 09:39] #23 closed, assigned to arunoda

[2015-01-12 19:36] apendua opened #66 "On server 500 error, grab some messages from server error log ..."
... and display it to the user.

[2015-01-12 21:22] apendua opened #67 "Encourage users to explicitly define version of Gagarin"
Otherwise they may run into problems when meteor updates `anti:gagarin` package automatically. In that case they will be forced to update the node package as well, or downgrade meteor package manually.

[2015-01-13 01:37] arunoda opened #68 "Using existing velocity packages"
We can use existing velocity packages with gagarin too.
For an example this one: https://github.com/xolvio/meteor-http-interceptor

It's not a direct velocity package, but a debugOnly package. So, we can use packages like this.

When we are building the documentation, we should mention this fact too.

[2015-01-13 09:31] apendua commented on #68
The `debugOnly` option is sometimes problematic. For example, to speed up testing we currently use `meteor --production` during the build process. This actually disables all `debugOnly` packages. Theoretically we might give up on using the `--production` mode but then the problem may return if user decides to run `meteor --production` in the background.

[2015-01-13 09:33] arunoda commented on #68
Yes. But we can always document that.
On 2015 ජන 13, අඟහ at ප.ව. 3.01 Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-13 09:36] apendua opened #69 "Integrate with Velocity"
I talked to @samhatoum about this and he suggested that at a very minimum we could at least try integrate with the test reporter, similarly to the way it's done in [meteor-cucumber](https://github.com/xolvio/meteor-cucumber). I am opening this ticket to start a discussion about other possibilities. I am opened to any suggestions.

[2015-01-13 09:37] apendua commented on #68
@arunoda Actually, examples like this one makes me feel that maybe we should not use the `production` mode by default. At least we could leave this choice to the user.

[2015-01-13 09:44] arunoda commented on #69
I don't like that.
This should reside outside of meteor.
There is no need to using a reporter.
On 2015 ජන 13, අඟහ at ප.ව. 3.06 Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-13 09:45] arunoda commented on #69
But anyway, if you go for that that's I have no issues with that :)

On 2015 ජන 13, අඟහ at ප.ව. 3.14 Arunoda Susiripala <arunoda@meteorhacks.com>
wrote:

[2015-01-13 09:45] arunoda commented on #68
Ha ha. :)
On 2015 ජන 13, අඟහ at ප.ව. 3.07 Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-13 17:47] pociej commented on #50
There is problem with current API. To check if anything listening at random port we need to make (potentially , any numeber ) asynchronous call. So we cant provide :
[code]
@apendua  , @arunoda , @subhog .
Any ideas ?

[2015-01-13 18:55] apendua commented on #50
@pociej What if we go for
[code]

[2015-01-13 18:59] apendua commented on #50
In fact we can capture what the user is being up to inside the `interface.js` (the same way we are currently doing it with `closures`) and just use the server promise as a prerequisite for the browser to start. In case when there are more then one server running in a single test suite (which will be a rare situation), we may politely ask the user to specify the starting location explicitly within

[2015-01-13 19:00] apendua commented on #50
I am just thinking loud, I am not 100% sure if I wanna go for it.

[2015-01-13 19:02] apendua opened #70 "Make sure "before", "after" and the other guys work with Fibers as well"
Currently we are only wrapping the content of `it` within a `Fiber` but the user might want to use synchronous API within other stuff like: `before`, `after`, `beforeEach`, `afterEach`.

[2015-01-13 19:03] apendua commented on #70
@arunoda Assigning to you since, you already now what this is about.

[2015-01-13 19:22] samhatoum commented on #69
I should probably add the context of the conversation was that Velocity aims to unify the testing landscape for Meteor. It does so through giving users a consistent interface to test apps by providing a set of common testing API's for test frameworks to use.

Integrating Gagarin with Velocity means users can run:
`meteor --test`

Also users benefit from combining frameworks like Gagarin and Cucumb

[2015-01-13 19:29] apendua commented on #69
@samhatoum I am happy you joined this conversation. In fact it was not an accident I mentioned you in this post. I hoped we could  at least document here the possible integration paths we had discussed before.

[2015-01-13 21:05] arunoda commented on #69
Hi @samhatoum

Love your work on velocity and what I did was not a rant :)

Here's some of the reason I believe gagarin is not a perfect fit for velocity.

* gagarin has it's own test runner and that's the core selling point
* now we can customize the test runner by invoking command line arguments like (we can ask to test some sub folder, we can grep only for some tests)
* gagarin runs outside of

[2015-01-13 21:30] arunoda commented on #50
Somehow we may need to assign the browser to a meteor instance. So, what about having this API.

[code]

[2015-01-13 21:45] apendua commented on #50
@arunoda I like this idea. Lets discuss it. What syntax would you suggest if the user does want to connect to any local meteor instance and he just browse the web?

[2015-01-13 21:51] apendua commented on #50
@pociej The solution proposed by @arunoda is much simpler than what I've been explaining to you earlier this day. If I was to choose between those two I would choose Arunoda's solution. What do you think?

[2015-01-14 12:43] arunoda opened #71 "Using TingoDB to Speedup tests"
Not sure, how to do this.
But we should consider it.

[2015-01-14 13:24] apendua commented on #71
@arunoda Interesting idea. It should not be hard to implement once we have #47. Though I am not sure about it's potential to speed up tests because I think that the bottleneck are always webdrivers.

[2015-01-14 14:11] apendua opened #72 "If no output is coming from the meteor process ..."
... tell the users to increase the safety timeout instead of "Gagarin is not there ..." message.

[2015-01-14 14:25] apendua commented on #72
@pociej Actually it would be better if we fire up the "safetyTimeout" only after the first output comes from meteor process ... what do you think? Can you think it through?

[2015-01-14 16:58] samhatoum commented on #69
Thanks @arunoda

I't's all good, any feedback is always welcome, it makes for a better outcome!

I see your point as Gagarin being a framework that runs outside of Meteor. This is how I also run Cucumber + Webdriver. They run in a Meteor app, but have nothing to do with the code of the app. They only have access to libraries like HTTP and DDP, and can have their own collections, as well as access

[2015-01-14 23:44] looshi commented on #24
@apendua
can I add functionality to the Example app to test against ?
getClass requires at least one css class to be applied.
waitForRoute requires Iron Router with at least two routes in the app.

I'm not sure if it's possible to mock or 'stub' these procedures.

[2015-01-15 18:54] apendua commented on #24
@looshi The tests within our `/tests` are using the `/tests/example` app to run most of the tests. Please extend this app if you need any UI components for tests.

[2015-01-20 21:07] #70 closed

[2015-01-21 15:51] apendua commented on #57
@arunoda @pociej This is pretty much ready and implemented here c5bcf357605e58d9d07c86d2d6d7992a1f3e0ee0. I just need your feedback and API suggestions and we are good to go.

[2015-01-21 15:54] apendua commented on #58
Turned out the the above solution does not work, which is pretty much understandable. I ended up implementing something like this:
[code]
which I think is a reasonable compromise. The new implementation is backward compatible BTW.

[2015-01-21 15:54] apendua commented on #58
@arunoda Any thoughts on this one?

[2015-01-21 15:57] arunoda commented on #57
Since we've fiber support, I think this is a good solution.
BTW: How do we get the data we've subscribed?

[2015-01-21 16:03] arunoda commented on #58
We didn't play with this closures yet. But I kind like an api like this.

[code]

[2015-01-21 16:04] apendua commented on #57
@arunoda Good question! I am blocked because I don't have a good idea for API. That's why I am asking.

[2015-01-21 16:05] arunoda opened #74 "How to use webdriver apis?"
With node `wd` project we could do something like this?

[code]

How can we do this with gagarin.

cc @pahans

[2015-01-21 16:08] arunoda commented on #57
If we can maintain documents locally that's a really good idea. I think node `ddp` module already does that.

For an examples.

[code]

And we should also have an API like this.

[code]

[2015-01-21 16:12] apendua commented on #58
Well, for now it can be realized very explicitly
[code]
which I think is better because you will get syntax error early. The `closure` helper is basically the next step of simplifying the code by allowing you to drop the `args` parameter, so
[code]
will work as well assuming you declared `v1` and `v2` to be in your shared closure, i.e.
[code]
This actually makes it very easy to pass variables from

[2015-01-21 16:13] apendua commented on #74
@arunoda Yes, but the syntax is a little different.

[2015-01-21 16:14] arunoda commented on #58
Yeah! I got it.
I thought we could it better :)

[2015-01-21 16:15] arunoda commented on #74
okay. that's fine.
Where can I find that?

[2015-01-21 16:20] apendua commented on #74
@arunoda Unfortunately, it's not in the docs yet. You will need to look [here](https://github.com/anticoders/gagarin/blob/devel/lib/browserPromiseChain.js#L43-L69) and also check out this file:

https://github.com/anticoders/gagarin/blob/devel/lib/helpers.js

which contains a bunch of useful helpers.

Another problem is that `chai-as-promised` will currently not work with Gagarin as well, so the n

[2015-01-21 16:25] arunoda commented on #74
Okay. Helpers seems to be great.
How can some one use helpers? simply calling `browser.xxx` ?

[2015-01-21 16:29] apendua commented on #74
@arunoda Yes, exactly. They're included by default. The nice thing is that you can also provide your own set of helpers like this:
[code]
And now you can use it by simply calling `client.doSomething()`.

[2015-01-21 16:33] arunoda commented on #74
Okay. That's great.

On Wed Jan 21 2015 at 9:59:00 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-22 10:16] apendua commented on #57
@arunoda I ended up with the following API:
[code]
What do you think?

[2015-01-22 10:27] arunoda commented on #57
for ddp.subscribeNoWait: if there's any error then throw it.

On Thu Jan 22 2015 at 3:46:47 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-22 10:55] apendua commented on #57
@arunoda It's not actually obvious how to implement this. But I will try to do some thinking. Please help me if you have some idea.

[2015-01-22 11:32] apendua commented on #40
This question #74 is related.

[2015-01-22 11:40] arunoda commented on #57
Isn't just throwing is not enough. I hope fiber context will handle the
error.

If that's a promise, we can send the error with that.
On 2015 ජන 22, බ්‍රහස් at ප.ව. 4.27 Tomasz Lenarcik <
notifications@github.com> wrote:

[2015-01-22 11:45] apendua commented on #57
@arunoda The problem is that the original `subscribe` method from `ddp` node module only accepts one callback, which is called either when the subscription is ready or, when it throws. No third option I am afraid. If I decide to resolve the promise right away (not waiting for "ready" state) it cannot be rejected anymore. So I was thinking we could delay the `resolve` for a fraction of second and s

[2015-01-22 11:56] apendua commented on #57
@arunoda This is the best I can do: fc8f8353dca03407946b95abe39d5e96603e2a4f

[2015-01-22 11:59] arunoda commented on #57
It's not to use a giveUp like thing. Let's see what we can do.
I'll check.
On Thu Jan 22 2015 at 5:26:57 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-22 12:02] arunoda commented on #57
May be we can look for raw DDP messages and decide we got an error or not
see:
https://github.com/oortcloud/node-ddp-client/blob/master/lib/ddp-client.js#L85

On Thu Jan 22 2015 at 5:29:24 PM Arunoda Susiripala <
arunoda.susiripala@gmail.com> wrote:

[2015-01-22 12:08] apendua commented on #57
@arunoda Interesting idea. But the problem is still the same. Theo only messages that come through are errors and "ready" state.

[2015-01-22 12:11] apendua commented on #57
Well, we can also throw a raw error, ignoring the promise chain entirely, but this may become confusing for the users if they will get error messages with delay in a wrong test case.

[2015-01-22 12:12] arunoda commented on #57
Check for the "nosub" message.
Not sure, how ddp module handled it.
see:
https://github.com/meteor/meteor/blob/devel/packages/ddp/DDP.md#messages-2

On Thu Jan 22 2015 at 5:38:44 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-22 12:32] apendua commented on #57
@arunoda This message only gets called when there's an actual error or the subscription does not exist. With the current DDP specs, there's no way to tell if the publication function has returned but it hasn't called the `this.ready()` yet. In fact, the problem should not even exist if everyone called `this.ready()` in a proper place. Anyway, I think we should as well give up on this `subscription

[2015-01-22 12:34] arunoda commented on #57
If this.ready() is called, then it's a bug in the publication.

The issue with subscription is, we don't when we'll get the data. If we've
a solution for that, then that's fine.

On Thu Jan 22 2015 at 6:02:27 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-22 12:39] apendua commented on #57
@arunoda Ok, anyway ... I think we both agree that having this `subscriptionNoWait` method only creates a lot of confusion to the users. I think that in most cases the regular `subscribe` does exactly what we expect it to do. My conclusion is that I should remove the `*NoWait` version from the code base.

[2015-01-22 12:40] arunoda commented on #57
Okay got it.
Then what do you recommend a way to wait until data comes?
doing a timeout?

On Thu Jan 22 2015 at 6:09:19 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-22 12:45] apendua commented on #57
In an easy case like this
[code]
in your tests you can just do
[code]
Dos it answer you question?

[2015-01-22 12:46] arunoda commented on #57
Oh yes. Than that's fine.
How it works with fibers too :)
On Thu Jan 22 2015 at 6:15:39 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-22 12:47] apendua commented on #57
You implemented that :) It should work the same way.

[2015-01-22 12:48] arunoda commented on #57
:)

On Thu Jan 22 2015 at 6:17:41 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-22 14:47] apendua opened #75 "Let the user configure the asserters"
Currently we're using `chai.expect` along with `chai-things` plugin. But it may be also useful to allow other things like, `chai-as-promised` for example. Whet if there are users who prefer other asserters? Should we allow them to opt-out?

[2015-01-22 15:09] apendua commented on #57
Closing #76

[2015-01-22 15:09] #57 closed

[2015-01-22 15:10] apendua commented on #58
This was the easiest thing I was able to came up with d4fd3b443156f398cca52564b1d236346bc5b13e. Closing for now ...

[2015-01-22 15:10] #58 closed

[2015-01-22 15:13] apendua commented on #59
This one #61 is somewhat related.

[2015-01-22 15:14] apendua commented on #61
This would be a BIG enhancement! @arunoda do you think you could take this one?

[2015-01-22 21:02] apendua commented on #47
@arunoda @pociej This one is pretty much ready. The API looks as follows:
[code]
Any other suggestions?

[2015-01-23 11:23] apendua commented on #61
This is actually quite feasible because the `browser()` method is always (at least it should be) called outside `before()` and `it()` blocks. This code is executed before all tests so it makes it possible to plan everything in advance.

[2015-01-23 23:06] apendua commented on #50
Do it for
- [x] meteor process
- [ ] mongo process

[2015-01-24 16:40] apendua opened #77 "Explain what mongo error 100 means ..."

[2015-01-24 16:47] #43 closed

[2015-01-24 16:48] apendua commented on #47
Done and merged to `devel`.

[2015-01-24 16:48] #47 closed

[2015-01-26 10:15] apendua commented on #40
While refactoring I completely removed `call/applyWebDriver` methods.

[2015-01-26 10:16] apendua commented on #61
@arunoda Currently there's a lot of refactoring happening in the related code, so lets wait with this project a little longer.

[2015-01-26 11:30] apendua opened #78 "Deprecate the execute(code, arg) syntax ..."
... instead it should be `execute(code, [ arg ])`.

[2015-01-26 12:31] apendua opened #79 "Implement an initialization lock ..."
.. to prevent users executing promises outside test case code. This is important for stability reasons.

[2015-01-26 12:41] apendua opened #80 "Make sure database is initialized late"

[2015-01-26 13:01] apendua commented on #50
@pociej Reassigning to you to finish the mongo part.

[2015-01-27 14:14] #78 closed

[2015-01-27 14:26] apendua commented on #45
For now I got rid of different promise chain implementation for different helpers, i.e. `meteor`, `browser`, `ddp` and `mongo`. They are now all using `genericPromiseChain.js`.

[2015-01-27 14:55] apendua commented on #79
It currently works for `meteor()` only. What it means is basically that no methods may be called before `server.init()` is executed first. By default it's done inside `before` block. If the user decides to do it manually, they can pass `noAutoStart` option to the `meteor()` function.

[2015-01-27 14:56] apendua commented on #24
@looshi This ticket is about all helpers from `lib//browser/helpers.js`.

[2015-01-27 15:13] apendua opened #82 "Find a way to measure Gagarin stability"
We could, for example, run the whole test suite a 100 times on different machines and see how often it fails. This will be usually due to timeouts, but sometimes it may indicate some efficiency problems.

Can we do it automatically in some type of "overnight" builds?

[2015-01-28 08:19] apendua opened #83 "Clarify how the helpers should be implemented"
Looking at the discussion here #81, I think there's still some discrepancy in which we're treating helpers when using `Fiber` flavor. We should probably implement one of the suggested solutions to make things more intuitive for the user.

This issue also needs to be treated in the documentation somewhere.

[2015-01-28 08:38] apendua opened #84 "False positives on "Gagarin is not there""
Fro time to time the tests fail on CircleCI due to the following reason:

https://circleci.com/gh/anticoders/gagarin/274

![zrzut ekranu 2015-01-28 o 09 35 27](https://cloud.githubusercontent.com/assets/1971195/5934531/0d3037e6-a6d1-11e4-935f-906bc5c24dfd.png)

![zrzut ekranu 2015-01-28 o 09 36 02](https://cloud.githubusercontent.com/assets/1971195/5934533/1b7b5650-a6d1-11e4-852b-fe627c4ab6f2.png)

[2015-01-28 08:55] arunoda commented on #84
We got this too.
We increase the timeout to something high and then it will work.
I hope this is because of spawning new meteor instances.

On Wed Jan 28 2015 at 2:08:45 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-28 09:15] apendua commented on #84
@arunoda Yeah, I guess that spawning meteor process can take a little longer than I initially assumed.

[2015-01-28 09:16] arunoda commented on #84
Yes it is. It gets worst if someone do some initialization on Meteor.startup

On Wed Jan 28 2015 at 2:45:10 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-28 09:16] apendua commented on #72
@pociej Looks like #84 may be related.

[2015-01-28 09:18] apendua commented on #84
@arunoda Anyway, this issue shows that we at least need some better error reporting here.

[2015-01-28 09:18] arunoda commented on #84
good idea.

On Wed Jan 28 2015 at 2:48:10 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-28 09:21] apendua opened #85 "When we SIGINT the process databases are not removed"
The test databases are not removed when we `SIGINT` the current process. Lets think about the best pattern to overcome this problem.

Basically, the dilemma comes from the fact that we also need to teardown mongo processes but dropping database will only work before those processes are killed. On the other hand managing this type of synchronization when the process is about to exit is not an obvio

[2015-01-28 09:25] arunoda commented on #85
In laika, it triggers a script which cleans dbs when starting up.
see: https://github.com/arunoda/laika/blob/master/bin/_laika#L222

On Wed Jan 28 2015 at 2:51:55 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-28 09:29] apendua commented on #85
@arunoda Ha! That's clever. As long as maintain the names of DBs that need to be removed we may think about implementing a similar functionality.

BTW, these databases are always cleared if the process exits normally. They only remain on `SIGINT` and probably on `UncoughtError`.

[2015-01-28 09:33] arunoda commented on #85
Yes. That was the same reason, I did this.
it's a simple mongo script:
https://github.com/arunoda/laika/blob/master/scripts/drop-laika-dbs.js
All we need it to create dbs with a prefix.
On Wed Jan 28 2015 at 2:59:25 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-01-28 10:34] #31 closed

[2015-01-28 10:34] apendua commented on #31
I ended up fetching logs after every single browser action. It makes the tests a little slower of course but this is only happening in `verbose` mode.

On the other hand, user may still use `getLogs()` promise to fetch logs at anytime. It still works fine in verbose mode.

[2015-01-29 11:49] #50 closed

[2015-01-29 13:10] apendua commented on #7
@pociej This is the issue we've been talking about on Skype. You can put all feedback here.

[2015-01-29 14:56] #51 closed

[2015-01-29 18:01] pociej commented on #84
message is wrong. Actually we checking versions compatibility here : https://github.com/anticoders/gagarin/blob/devel/lib/meteor/build.js#L211.
So it is impossible to start meteor process without gagarin...

[2015-01-29 18:43] apendua commented on #84
@pociej Remember that the user may always skip the build. So it's not that simple.

[2015-01-29 20:13] pociej commented on #84
right.. that means that we are checking versions in wrong place :)

[2015-02-01 22:57] looshi commented on #46
@apendua
the tools has been refactored into many separate files since this ticket was opened.
There is this utility for logging errors to the console in one of the files, used only a few places :
https://github.com/anticoders/gagarin/blob/develop/lib/tools/index.js#L263
I'm not sure how to proceed.

[2015-02-01 23:16] apendua commented on #46
@looshi You're right. I will try to provide more details about this ticket soon. In the meantime, can you please take a look at #48?

[2015-02-01 23:17] looshi commented on #48
@apendua
okay, looking at this now

[2015-02-01 23:18] apendua commented on #75
This one is pretty much related to #48. @looshi Can you please investigate the possible solutions and help me decide what the most convenient API would be?

[2015-02-01 23:22] apendua commented on #17
@pociej This ticket is quite old and pretty much outdated. I will close it now for clarity and probably reopen in the future if this idea ever comes back.

[2015-02-01 23:22] #17 closed

[2015-02-02 03:11] looshi commented on #48
@apendua
on the client do you mean you want to do be able to do this :

     it('should be able to use chai on client' , function () {
          return client
            .execute(function(){
              return 1+2;
            })
            .expect(res).to.eql(3)
        });

and not have to do this :

        it('should be able to use chai on client' , function () {
          return client

[2015-02-02 08:18] apendua commented on #48
@looshi The feature you're talking about is actually provided by [chai-as-promised](https://github.com/domenic/chai-as-promised/), which is also something we would like to have but it's more related to #75. This ticket is about allowing users to do things like:
[code]
This is pretty easy to implement for `server` and it's by no means a straightforward task on the client since it's run in a browser

[2015-02-02 13:27] apendua opened #87 "Closure value should be injected even if it's undefined"

[2015-02-06 05:41] looshi commented on #48
@apendua
I implemented your suggestion to serve the file, it's working.  You can view it here :
https://github.com/anticoders/gagarin/compare/serve-chai

I don't know the best place to put this into the startup routine, I added some comments about this and a few other questions.

When you have time please look it over to see if this is what you intended.  When it feels close to what you need I can

[2015-02-06 09:59] apendua commented on #48
@looshi This is generally a very good pice of work, though I have some objections mainly related to how the file server is handled, which I described in comments to the commit.

Most important thing is the question about the right place for initialization. I think we should do none and provide the user with `addChai` helper. I described the reasons for this in one of the comments.

[2015-02-06 12:54] apendua commented on #84
The last thing to do here is to add note in documentation.

[2015-02-06 12:54] #72 closed

[2015-02-06 12:55] apendua commented on #24
@looshi Thanks for this great work!

[2015-02-06 12:55] #24 closed

[2015-02-06 13:00] apendua commented on #48
@looshi FYI, in the `develop` branch I've added `browser.addScript` helper, which partially does the required work, though it still need to be improved - for example it does not currently handle timeouts properly. I think you could just specialize it to implement `addChai`. The main difficulty here is to make sure the file server works prior to calling those helpers. Also, you will need to figure

[2015-02-06 13:04] apendua commented on #45
Closing this issue for know because it's not really well defined what should be done next. The client and server injected scripts are different in some small details, so I don't think it's currently reasonable to just reuse the script-wrapping code.

[2015-02-06 13:04] #45 closed

[2015-02-06 21:48] looshi commented on #48
@apendua
for what it's worth, this is another way to provide chai.js to the browser :

    var chaiSource = fs.readFileSync('./node_modules/chai/chai.js', "utf8");
    chaiSource = jsStringEscape(chaiSource);

    var str = "\
    var script = document.createElement('script');\
    script.text = \""+chaiSource+"expect = chai.expect;\";\
    window.document.head.appendChild(script);";
    browser.e

[2015-02-06 22:12] apendua commented on #48
@looshi Makes sense to me. If only it's reliable enough I like this solution because it does not require spawning another server. Good catch!

And what do you thing about the moment this code should be injected?

[2015-02-06 22:34] looshi commented on #48
@apendua
For when it should be injected, I'm not sure to be honest.   I think it depends on the use case, and also what most users will want.  Do you still want to add it using a helper ?   In that case I think it would just be added when invoking the helper.

[2015-02-06 23:23] apendua commented on #48
@looshi At this point I am pretty much sure I want this as a helper rather then an (possibly) optional initialization step. Please note that these two scenarios are not exclusive. We can do it one the initialization step and provide it as a helper as well. Ideally this should be transparent to the user, but in that case we will be forced to check for chai before executing every single chunk of inj

[2015-02-08 20:53] apendua commented on #48
@looshi Can you please look at my latest commits to the `develop` branch? I ended up implementing some even more simple solution. Namely, I am just evaluating all the `chai.js` code within a browser when I detect `window.chai` is `undefined`.

https://github.com/anticoders/gagarin/commit/e9b8a517fcceb9054ee5b5538f6a0d5a69230ba4#diff-0b8b4604d0201e71178e0d08ec67cb32R28

To save unnecessary webdrive

[2015-02-08 22:34] looshi commented on #48
@apendua
well, that's a nice solution, reminds me of this comic :

![chickentreasuremap](https://cloud.githubusercontent.com/assets/1656829/6098846/14eafcf6-af9f-11e4-934b-bbe67e87be32.jpg)

I will try and do something similar for cilent.wait and client.promise, and I can add some more test coverage for expect in the browser context.

[2015-02-09 08:43] apendua commented on #48
@looshi :+1: for the comic!

The only problem with the current solution is that we shouldn't really "lazy-test" for chai existence, because rerunning the same injected code again may double potential side-effects. A possible fix is to test early like here 53b01f016822a185777e7889a7c16806e0c81971. Please keep this in mind when you work on `promise` and `wait`.

[2015-02-09 13:17] #87 closed

[2015-02-09 14:37] apendua commented on #48
@looshi Unfortunately I've just detected that the "simple" method does not really work with Firefox driver. It's probably because the `chai.js` is too big to be injected this way, but I am not 100% sure. When you have time, can you please investigate this problem further? It's starting too look like we will not get away serving source code files with a dedicated **HTTP** server.

[2015-02-09 14:38] apendua opened #89 "Add a note about "use strict" and global variables"

[2015-02-09 14:47] apendua opened #90 "Add note about "undefined" variables which end up being "null""

[2015-02-09 14:51] apendua opened #91 "Set default value for safetyTimeout"

[2015-02-12 12:36] marekrogala opened #94 "How to add additional libraries (e.g. sinon) to use in tests?"
In some of the tests we do not use server/client calls at all (in fact, this is the case for most of our unit tests). However, we'd like to execute them with gagarin to have just one place for all tests.

How can we add additional libraries to be available to the test code which is not executed on Meteor?

For example, we'd like to use a mocking library such as _sinon_. We tried using meteor packa

[2015-02-12 15:47] marekrogala commented on #94
The same also applies to libraries used by the code under test (e.g. the tested function depends on lodash). Is there a way to do that, or would the best approach be to run everything through server/client methods?

[2015-02-12 20:58] apendua commented on #94
@marekrogala Good question! Lets do some brainstorming here.

[2015-02-19 13:20] apendua opened #95 "In promises protect against multiple calls to "resolve" or "reject""

[2015-02-19 15:21] apendua opened #96 "In addition to closures use "this" as the context keeper"
Ideally, we should be able to reuse the same context in different promise chains.

[2015-02-24 17:13] apendua opened #97 "Implement a decent plugin system"

[2015-02-25 11:48] Laboratory opened #98 "Support CoffeeScript"
Are there plans to add coffeescript support?

[2015-02-25 12:21] Laboratory opened #99 "Use globals"
How can I use globals from Meteor.
For example:
meteor/users/users.coffee
[code]

meteor/tests/gagarin/server/users.js
[code]

[2015-02-25 12:26] apendua commented on #99
@Laboratory The general idea behind Gagarin is that you inject your test code into the server/client on the fly. So basically, you don't really have access to your meteor code directly from your test file, but
[code]
However, we are currently working on allowing users to inject the entire file into application context and the results are quite promissing. If we're lucky it should end up in the nex

[2015-02-25 12:47] apendua commented on #98
@Laboratory I can imagine that it is doable, but it's not planned yet because there are some other things on our plate with higher priority.

[2015-02-25 12:58] Laboratory commented on #99
UsersCollection is only for example.
I try testing utility methods and logic.
Now, all work, Thx

[2015-02-25 12:58] #99 closed

[2015-02-25 12:59] apendua commented on #99
@Laboratory Cool! I am happy it worked fine.

[2015-02-25 12:59] Laboratory commented on #98
@apendua, cool, I will wait.
Maybe I can help u, PR?

[2015-02-25 13:03] apendua commented on #98
Why not, please feel welcome. If you have any questions how it should be implemented lets chat and discuss possible solutions. You can contact me by email.

[2015-02-25 13:06] apendua commented on #98
@Laboratory In fact ... the important thing is to make sure `mocha` will support source maps properly.

[2015-02-25 17:33] Laboratory opened #100 "Test don't pass"
An error occurs when I try return result from server.execute() in suite:
[code]

[2015-02-25 17:35] Laboratory commented on #98
#100 should be fixed

[2015-02-25 17:39] apendua commented on #100
Ah ... I see. This will be fixed when #48 is done.

[2015-02-25 17:41] apendua commented on #100
Currently `expect` is not available in the server/client context, but it's available in your test suite context, so you can workaround this by doing all the assertions outside the `execute` block. I understand this may not be the most convenient way, but it actually make sense from stability perspective.

Anyway, good catch! The fix is on it's way.

[2015-02-26 00:15] looshi opened #101 "Improve docs on using selenium with FF"
I did have this setup working a couple of weeks ago, but no longer works.

mac os 10.9.5
firefox 33.0.1
selenium-server-standalone-2.43.0

steps to replicate :

1. start the hub
sudo java -jar selenium-server-standalone-2.43.0.jar -role hub

2. start the node
sudo java -jar selenium-server-standalone-2.43.0.jar -role node -hub http://localhost:4444

3. run the Gagarin test suite
sudo ./test.js --w

[2015-02-26 00:31] looshi commented on #48
@apendua
I made some modifications to the load routine and do it inside execute() as you suggested.
The tests are passing for chai in the client in chromedriver , here is the new branch :
https://github.com/anticoders/gagarin/tree/load-chai-in-execute

however, i can't get firefox driver to run :
https://github.com/anticoders/gagarin/issues/101

this branch essentially  makes `expect` a reserved w

[2015-02-26 07:02] apendua commented on #101
Can you try using `http://localhost:4444/wd/hub` as the `--webdriver` parameter for Gagarin?

[2015-02-26 08:29] apendua commented on #101
@looshi I was expecting the same problems - except the error messages - when I forgot to use `/wd/hub` suffix. BTW, I've just realized that if you don't try start your selenium instance with `-role hub` option you can get away with using the second selenium process.

[2015-02-26 08:34] looshi commented on #101
@apendua  forgot to mention I was also using -V verbose mode, so got the error in the Gagarin console output.  maybe that's the discrepancy in our experience.  I will give your suggestion a try tomorrow. thanks!

[2015-02-27 12:50] #98 closed

[2015-02-27 13:01] apendua opened #103 "CoffeeScript will probably require longer startup timeout"
... at least make a not in the documentation.

[2015-03-05 08:52] apendua commented on #48
@looshi Thanks for all work you put in this project. It's finally working and released!

[2015-03-05 08:52] #48 closed

[2015-03-05 08:53] apendua commented on #100
@Laboratory Fixed in `v0.4.3`.

[2015-03-05 08:53] #100 closed

[2015-03-05 08:53] apendua commented on #95
It's already fixed in `server.promise`.

[2015-03-06 08:52] apendua opened #104 "Implement all velocity methods, so that we can listen for results from mirrors"
Would it solve #68?

[2015-03-16 12:43] Laboratory opened #106 "Server context"
Hello,

I am try execute this code

[code]
How can I execute `before` method with available global Scope or Execution Context?

[2015-03-16 12:50] apendua commented on #106
@Laboratory The problem here is that the source code which you pass as an argument to `sever.execute` is first converted to a string, so it does not inherit the local/global scope of your test definition function. Instead it's executed within your server application scope, which is BTW the expected behavior, right? I agree that the UX here may be confusing but I don't yet have any good alternative

[2015-03-16 13:12] Laboratory commented on #106
Ok, thx
and more, how can I transfer params between tests?
[code]

[2015-03-16 13:14] apendua commented on #106
@Laboratory Can you explain a little bit more? When you say "params" do you mean some configuration variables or context variables?

[2015-03-16 13:20] Laboratory commented on #106
Sorry, values generated by tests
Like my above example

[2015-03-16 13:32] apendua commented on #106
@Laboratory Ok, I see. The `server.execute` routine returns a promise, which will be fulfilled with the return value of your "execute" code, so e.g.
[code]

[2015-03-16 13:34] apendua commented on #106
I am also thinking about using `this` as a container for such values. It's not implemented yet, but if we are lucky it will end up in the next release. What I mean is that you will be able to do things like:
[code]

[2015-03-16 14:08] Laboratory commented on #106
Will be good such an option:
[code]

[2015-03-17 16:08] apendua commented on #106
@Laboratory The feature is already implement in `release-0.4.5`. Can you help me testing the new release candidate?

[2015-03-17 20:25] Laboratory commented on #106
sure

[2015-03-18 12:14] Laboratory commented on #106
I checkout to `release-0.4.5` branch
and run my test from project page
[code]
result:
[code]

[2015-03-18 12:16] apendua commented on #106
@Laboratory Have you rebuilt your app? Note that you need to update both the node and meteor package.

[2015-03-18 12:19] Laboratory commented on #106
I forgot, sorry

[2015-03-18 12:21] Laboratory commented on #106
Wow, It works. Thx

[2015-03-23 14:15] apendua commented on #106
It's in release `0.4.5`. Closing ...

[2015-03-23 14:15] #106 closed

[2015-03-23 14:16] apendua commented on #96
Implemented in `release-0.4.5`. Closing ...

[2015-03-23 14:16] #96 closed

[2015-03-23 14:19] apendua commented on #104
@samhatoum What do you think about this one?

The idea is basically that Gagarin could start a mirror and listen to tests results. It should be relatively easy to implement because it's a matter of providing appropriate environment variables to the mirror process, right?

[2015-03-23 15:12] samhatoum commented on #104
That's a great idea and yes it should be doable using the ENV vars. I would experiment with this approach and collect some findings.

We've been talking about a new lifecycle for Velocity and how to rewrite mirrors to make them more robust. you can [see the hackpad here](https://velocity.hackpad.com/Important-topics-for-velocitycore-nN6VyVoOaeO).

[2015-03-23 15:22] apendua commented on #104
@samhatoum Thanks! I will take a look.

[2015-03-26 16:46] Laboratory commented on #104
no velocity, it's bad idea :/

[2015-03-26 16:48] samhatoum commented on #104
@Laboratory Care to elaborate?

[2015-03-26 16:48] apendua commented on #104
@Laboratory I don't agree. Imagine you already have a project with a lot of velocity tests, which you don't want to rewrite yet you still want to use Gagarin as a single test runner.

[2015-03-26 16:51] Laboratory opened #108 "Meteor must be initialized before use"
Hello,

after updated on 0.4.5 version I have some problems

[code]

How can I fix this error?

[2015-03-26 16:52] apendua commented on #108
@Laboratory Yeah, I know ... this fix is in the pipe. I will deploy in a matter of minutes.

[2015-03-26 16:53] Laboratory commented on #104
My test written with velocity doesn't run for 3 weeks and no one can help me.

[2015-03-26 16:54] apendua commented on #104
@Laboratory Anyway, we don't want any kind of "frameworks wars" here on GitHub. It's not for expressing private opinions but for a technical discussion.

[2015-03-26 16:55] Laboratory commented on #104
@samhatoum https://github.com/meteor-velocity/velocity/issues/281

[2015-03-26 16:57] Laboratory commented on #104
@apendua, ok, sorry

[2015-03-26 20:18] apendua commented on #108
@Laboratory The fix is in `master` branch. Can you check if it works for you?

[2015-03-26 23:45] parhelium commented on #108
Today I was surprised to see that gagarin doesn't work out of the box with `the simplest test ever` without increasing timeout to at least 3s. I'm glad this is not the feature ;-)

[2015-03-27 14:25] welelay opened #110 "add chooseFile support to gagarin"
Hi,
this would really help to be able to upload files, like in http://webdriver.io/api/utility/chooseFile.html
This is supported by webdriver, but I couldn't figure out how to add it cleanly.

[2015-03-27 15:35] apendua commented on #110
@welelay Thank you for pointing this out. The reason we are not exposing the full webdriver API is because we were not able to test all features in all possible scenarios to guarantee they will work fine. However, you can always use this "private" API to get to the webdriver internals:
[code]
Please let me know if it works.

[2015-03-27 16:08] welelay commented on #110
@apendua Thanks a lot. I'm trying it right now.

[2015-03-28 00:55] apendua opened #111 "Lets have more logs in verbose mode"
This should help to identify places which requires optimization.

[2015-03-28 09:13] apendua commented on #101
@looshi I double checked and it seems that everything works fine when using the `/wd/hub` suffix. Except that it's pretty important to have an adequate selenium version, e.g. for FF 36, selenium `2.45` is required. Anyway, the problem you've described shows that we still need better documentation on this one.

[2015-03-28 09:15] apendua commented on #110
@welelay Did the solution work?

[2015-03-28 09:30] apendua commented on #108
Hey guys, the fix is live in `0.4.6` release. Please update your local packages and verify it works.

[2015-03-28 09:41] apendua commented on #108
@Laboratory Hi! I've just realized that we are talking about two different things here.

Initially I thought that you were talking about updating Meteor to `1.0.5` ... which was a problem that I've solved in the latest release:

https://github.com/anticoders/gagarin/releases/tag/v0.4.6

But your error logs shows something different. It looks like you're trying to execute `meteor.somePromise` to ea

[2015-03-28 09:51] apendua commented on #5
It's not true that the build process is longer when build are handled this way. It's already implemented in `release-0.4.6` and it's working fine.

The source code "isolation" is already in `develop` branch it will be released soon.

[2015-03-28 09:51] #5 closed

[2015-03-29 11:28] Laboratory commented on #108
Hello, all works on 0.4.6
Test example:

[code]

[code]

[2015-03-29 13:27] apendua commented on #108
@Laboratory I would recommend putting
[code]
inside your `describe`. This is because `meteor()` implicitly calls `before` and `after`.

[2015-03-30 13:25] welelay commented on #110
@apendua not really: chooseFile seems proprietary to webdriverio (https://github.com/webdriverio/webdriverio/blob/master/lib/commands/chooseFile.js).
I call uploadFile and then setValue to emulate chooseFile, but it doesn't trigger the upload as when using webdriverio.

This is my code; do you see sthing broken?

[code]

[2015-03-30 13:34] apendua commented on #110
Are you receiving any kind of errors? Does anything unusual happen?

[2015-03-30 13:38] welelay commented on #110
when I give the wrong path to uploadFile, the callback arguments reflect the error:
[code]
otherwise I don't get any error message in the console. I'll try to create a small project to reproduce...

[2015-03-30 13:39] apendua commented on #110
@welelay That would be awesome ... then I will be able to investigate the problem.

[2015-03-30 14:24] welelay commented on #110
@apendua got it: I must call client.**sendKey**("#importedFile", res) instead of client.setValue("#importedFile", res).

Working code:

[code]

[2015-03-30 14:54] welelay commented on #110
@apendua one last thing: can you help me setting it as a client helper?
I've found your comment to arunoda in #74 and tried to adapt it
[code]
but I get ``TypeError: Object #<Object> has no method 'chooseFile'``

[2015-03-30 15:33] welelay commented on #110
see https://github.com/welelay/meteorTests/tree/master/gagarinUploadFile for the test project with basic fonctionnality (still missing the helper)

[2015-03-31 09:35] welelay commented on #85
I'd rather see the database cleaned-up on startup: this way I can have a look at the db post-mortem to help debug failed tests.

[2015-03-31 10:04] apendua commented on #85
@welelay Interesting point ... we could in fact allow this as an option. But I still think that removing database should be the default behavior, or otherwise you will end up with a ton of unnecessary files on your disk.

[2015-03-31 10:07] welelay opened #112 "access the test database contents during/after tests"
I'd like to be able to access the database post-mortem.
At best, follow collections in genghisapp during the tests.

problems:
1. databases dropped after tests
2. private mongod locks the db during tests

For 1.
Currently (released version) databases are not dropped at the end, so I can run mongod --dbpath .gagarin/local/db after tests and see them in genghisapp.
This is not the case with master e

[2015-03-31 10:16] welelay commented on #85
You mean tons of unnecessary files stay on disk in-between test runs ? That's a good point, though I'm not too concerned about that disk space because there must be enough disk space to be able to run the tests anyway.
Also, I agree that it shall not be the default.

[2015-03-31 10:47] apendua commented on #112
@welelay Thank you for this insight. I am currently in the process of cleaning up mongoDB interface and I will definitely take your suggestions into account.

[2015-03-31 10:54] apendua commented on #111
I am currently working on this one in `2015B-verbose` branch.

[2015-03-31 10:55] apendua commented on #111
@parhelium To try it, use:
[code]

[2015-03-31 11:04] welelay commented on #112
@apendua cool ! While you're at it, can you add deeper forwarding of the options (see pull request) ?
Thanks

[2015-03-31 11:06] apendua commented on #112
@welelay Yeah, I've seen the PR. Lemme think a little and I will probably give it a try.

[2015-03-31 11:40] apendua commented on #110
@welelay I investigated this issue and it turns out, there is a BUG in options parsing. Well, this is at least an UX bug. You can workaround this by not using `server` as this first argument but instead providing it as a `location` property within the `options` object. This is counterintuitive though, so I am working on a fix right now.

[2015-03-31 11:50] welelay commented on #110
The workaround works for me.
Thanks !

[2015-03-31 12:20] apendua commented on #61
@pociej I've realized that the mysterious timeouts that are happening from time to time are caused by webdriver not responding fast enough for `browser.init`. I don't know the best way to fix it, but having a browser session manager will allow us to decrease the number of initializations, so it should practically eliminate the problem.

[2015-03-31 12:21] apendua commented on #110
@welelay The fix is ready and will be shipped in the next release.

[2015-03-31 12:21] #110 closed

[2015-03-31 12:22] apendua opened #114 "Document the meteor, browser, db and ddp interfaces"

[2015-03-31 12:23] welelay commented on #110
Fine :-)

[2015-03-31 12:23] apendua commented on #114
... to prevents problems like #110

[2015-03-31 12:25] apendua commented on #108
The corresponding documentation task is a part of #114. Closing this one ...

[2015-03-31 12:25] #108 closed

[2015-04-01 17:29] parhelium opened #115 "Testing gagarin with different node versions"
Application is successfully build using meteor.

The same output for:

        npm install -g gagarin
        npm install -g gagarin#develop

        node v0.10.36
        node v0.10.38

[code]

[2015-04-01 17:38] parhelium commented on #115
➜  gagarin-example-the-simplest-one git:(master) ✗ nvm use 0.10.38
Now using node v0.10.38
➜  gagarin-example-the-simplest-one git:(master) ✗ gagarin -v

  --- building app => /Users/me/projects/gagarin/gagarin-example-the-simplest-one ---

  creating your test build in /Users/me/projects/gagarin/gagarin-example-the-simplest-one/.gagarin/local/bundle

/Users/me/.nvm/v0.10.38/lib/node_modules/gagar

[2015-04-01 17:40] parhelium commented on #115
npm install -g gagarin
[code]

[2015-04-01 17:40] apendua commented on #115
Have you added anti:gagarin package to your project?

W dniu środa, 1 kwietnia 2015 Kuba Wyrobek <notifications@github.com>
napisał(a):

[2015-04-01 17:41] parhelium commented on #115
[code]

[2015-04-01 17:43] apendua commented on #115
Can you also try --verbose option?

W dniu środa, 1 kwietnia 2015 Kuba Wyrobek <notifications@github.com>
napisał(a):

[2015-04-01 17:44] parhelium commented on #115
[code]

[2015-04-01 17:44] apendua commented on #115
Please make sure that you are using Gagarin 0.4.6 as well ...

W dniu środa, 1 kwietnia 2015 Tomasz Lenarcik <apendua@gmail.com>
napisał(a):

[2015-04-01 17:46] apendua commented on #115
Are you using Gagarin from 2015B-verbose branch? It should give you some
more information why the build fails.

W dniu środa, 1 kwietnia 2015 Tomasz Lenarcik <apendua@gmail.com>
napisał(a):

[2015-04-01 17:46] parhelium commented on #115
gagarin@0.4.6
node@0.10.38
[code]

[2015-04-01 17:52] parhelium commented on #115
[code]

[2015-04-01 17:55] parhelium commented on #115
Installed `npm install -g gagarin@0.4.5` and it started to work:

[code]

[2015-04-01 19:30] apendua commented on #115
@parhelium I am 90% sure that when you look into the content of your `.meteor/versions` file, you will see `anti:gagarin@0.4.5`. Please confirm and tell me if I am wrong.

[2015-04-01 21:26] apendua commented on #115
@parhelium It looks like the conclusion is: `gagarin` is not working with node `0.11.x`. I suggest we should put this information into docs, so that users are not disappointed.

On the other hand, I fixed the version inconsistency problem here c08ba72e089c20511d7a3619ea0fd4399b03e1bd.

[2015-04-02 14:55] apendua opened #116 "it.only ... does not work"

[2015-04-03 06:29] apendua commented on #84
@pociej @arunoda This issue is no longer present. In addition, since `0.4.7`, we also install `anti:gagarin` automatically in the right version if it's not present. I am closing this particular ticket.

[2015-04-03 06:29] #84 closed

[2015-04-03 06:31] apendua commented on #80
Curretly it works for `meteor()` but not for `db()`.

[2015-04-03 06:32] apendua commented on #111
The new logging system is already present in `0.4.7`. We will probably add new logs overtime as they're needed. Closing this ticket ...

[2015-04-03 06:32] #111 closed

[2015-04-03 06:33] apendua commented on #116
Will end-up in `0.4.8`.

[2015-04-03 06:37] apendua commented on #13
Since we already have a decent logging system, we may also want to have another option `--logs` to save all logs (not only server logs) to a selected file. This may be useful for CI environments.

[2015-04-03 06:39] apendua commented on #44
This ticket is ill posed. Closing for now ...

[2015-04-03 06:39] #44 closed

[2015-04-03 06:40] apendua commented on #67
This is no longer a problem since `0.4.7` because we fix gagarin version automatically. Though, it may still require a short note in the documentation.

[2015-04-03 06:41] apendua commented on #40
Well, at list we need to list them and show some examples.

[2015-04-06 19:01] #116 closed

[2015-04-07 10:20] apendua opened #117 "Think if we can/should use WebdriverIO"

[2015-04-10 09:44] #115 closed

[2015-04-10 11:45] #101 closed

[2015-04-10 12:04] apendua commented on #67
I've updated the documentation.

[2015-04-10 12:04] #67 closed

[2015-04-10 12:04] apendua commented on #40
Done ...

[2015-04-10 12:04] #40 closed

[2015-04-10 12:23] #77 closed

[2015-04-10 12:31] apendua commented on #74
I updated the README. Closing ...

[2015-04-10 12:31] #74 closed

[2015-04-11 04:17] vskarine opened #118 "add code coverage"
would it be possible to instrument Istanbul to get code coverage for the tests?

[2015-04-11 06:01] apendua commented on #118
@vskarine Tell me more about your idea.

Yes, it seems doable ... though, it also looks like a larger project. We are currently working on finishing up source code manipulation in `develop` branch. I think code coverage reports might fit well into that "architecture", so it's definitely something we may think about.

[2015-04-11 17:26] apendua opened #119 "Maybe we should ask the user before adding anti:gagarin"
Currently it's done automatically if the test runner detects that the package is missing. It's pretty much convenient but some users may think this is creepy.

[2015-04-14 01:17] vskarine commented on #118
I don't have much experience with this but seems like something similar has been done in Intern (https://theintern.github.io/)
I might take a look how they do it when I have free time

[2015-04-14 17:08] apendua opened #120 "Clean the `console.log` from google chrome and other browsers"
Currently the logs from chrome are terribly long because by default they're prefixed with filename and line number. While it seems that in some scenarios it make sense, it's definitely to long for regular usage.

[2015-04-14 17:36] apendua commented on #120
Also make sure `console.log` always work!

[2015-04-18 15:29] apendua commented on #52
This could be done by using the technique we used for `chai` with @looshi + automatically generated source maps.

[2015-04-21 07:36] welelay opened #121 "configurable ddpClient connect in ddpClientManager for slow application startup"
My application is doing a few things at first startup (populating the DB, converting some images, etc.).
It's not very slow: 2 seconds
between

    test   starting meteor instance
    system  connected to database

and

    test   meteor instance ready

but it's enough to get

    1) .... "before all" hook:
        Error: Network error: ws://localhost:4740/websocket: connect ECONNREFUSED
       at

[2015-04-21 16:01] apendua commented on #121
@welelay Thanks for heads-up. What I meant was we could use something like `WebApp.onListening`

https://github.com/meteor/meteor/blob/devel/packages/webapp/webapp_server.js#L727

befeore we try to start the `ddpClient` for the first time.

[2015-04-21 16:02] welelay commented on #121
OK, I see.
Not something to be done by the test writer.
Cheers,

[2015-04-21 16:07] apendua commented on #121
@welelay I agree ... I am currently working on a fix. Would be great if you could help me testing it.

[2015-04-21 16:10] welelay commented on #121
Yeah, sure.
I'll have to do it tomorrow, though.
Thanks for your commitment :-)

[2015-04-21 16:24] apendua commented on #121
@welelay The fix is implemented in `master` branch. Please refer to "contributors" section:

https://github.com/anticoders/gagarin#for-contributors

to see how to use a version from checkout in your project. Please let me know if it helps.

[2015-04-22 07:13] welelay commented on #121
Yes, you did it!
Well done & thanks a lot.

[2015-04-22 07:13] #121 closed

[2015-04-29 10:19] apendua opened #122 "`err` is undefined"
Look here:

https://github.com/anticoders/gagarin/blob/master/lib/tools/index.js#L377

[2015-04-29 14:46] apendua opened #123 "Try spawning phantomjs as a fallback solution ..."
... for example when the webdriver url is not provided.

[2015-04-30 01:07] arunoda opened #124 "Circle CI Issue"
We are trying to build this on Circle CI and got this error. It was working pretty well previously. Know any reason?

[code]

[2015-04-30 05:43] apendua commented on #124
@arunoda Do you have any further details? Are you running `gagarin` in `--verbose` mode?

[2015-04-30 06:05] arunoda commented on #124
I will try to do this on the verbose mode and send you logs.
On 2015 අප්‍රේල් 30, බ්‍රහස් at පෙ.ව. 11.14 Tomasz Lenarcik <
notifications@github.com> wrote:

[2015-04-30 06:08] apendua commented on #124
Thanks! Can you also try with other node versions? I'm afraid 0.10.35 might
be a little out of date. I have an impression that I've seen error in pty
before and it was somehow connected to compatibility problems.

W dniu czwartek, 30 kwietnia 2015 Arunoda Susiripala <
notifications@github.com> napisał(a):

[2015-04-30 06:36] arunoda commented on #124
Okay. I'll try with 0.12.x

On Thu, Apr 30, 2015 at 11:38 AM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-04-30 06:50] arunoda commented on #124
Now I am getting this: https://gist.github.com/arunoda/20e40098248cd5c9aeb9
May be something strange with the CircleCI setup.

On Thu, Apr 30, 2015 at 12:06 PM Arunoda Susiripala <
arunoda.susiripala@gmail.com> wrote:

[2015-04-30 06:56] apendua commented on #124
It makes sense. It's exactly the same error I was getting ... Can you also
check what version of "pty" your are using? I should be able to find and
fix the problem later this day.

On Thu, Apr 30, 2015 at 8:50 AM, Arunoda Susiripala <
notifications@github.com> wrote:

[2015-04-30 06:58] arunoda commented on #124
Okay sure. You mean node pty right?

On Thu, Apr 30, 2015 at 12:26 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-04-30 07:00] apendua commented on #124
Yeap ... this one:

https://github.com/chjj/pty.js

On Thu, Apr 30, 2015 at 8:58 AM, Arunoda Susiripala <
notifications@github.com> wrote:

[2015-04-30 07:01] arunoda commented on #124
It's 0.2.6

On Thu, Apr 30, 2015 at 12:30 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-04-30 07:09] apendua commented on #124
You're right:

https://github.com/anticoders/gagarin/blob/develop/package.json#L47

But this is incorrect! We should be using 0.2.7_1. Look here BTW

https://github.com/chjj/pty.js/commit/b3e2d5b150384ff91d258f8d728a64e699b00405

Can you fix `package.json` and submit a PR against `master`? I will publish
gagarin `0.4.10` later this day.

On Thu, Apr 30, 2015 at 9:01 AM, Arunoda Susiripala <
notifi

[2015-04-30 07:12] arunoda commented on #124
Will do it.
On 2015 අප්‍රේල් 30, බ්‍රහස් at ප.ව. 12.39 Tomasz Lenarcik <
notifications@github.com> wrote:

[2015-05-01 08:19] apendua commented on #124
@arunoda, Can you try the version from `master` branch? Please let me know if it helped ... if so I will publish a new release. If not let's investigate further.

[2015-05-01 08:22] apendua opened #125 "Implement "gagarin create" ..."
... this should create some basic tests in `tests/gagarin` directory to help users start with tests.

[2015-05-01 08:42] smeijer opened #126 "Windows build"
Any change to create a build for Windows, which contains the required pty.js binaries?

Building pty.js on Windows is a real pain. Pretty much impossible to do, which unfortunately makes this project unusable for Windows users.

[2015-05-01 08:44] apendua commented on #126
@smeijer Interesting point! If `pty.js` is the only obstacle in getting `gagarin` to work on a windows box, then it's definitely worth investigating.

[2015-05-01 08:45] apendua commented on #126
Actually, I may be able to provide you with a `gagarin` version that totally ignores `pty.js`. If I do that, will you be able to test if it works fine on a windows box?

[2015-05-01 08:51] smeijer commented on #126
Of course, I like to test that version for you, and let you know the results.

[2015-05-01 09:10] apendua commented on #126
@smeijer Please try `2015B-no-pty` branch and let me know how it works.

[2015-05-01 09:47] smeijer commented on #126
It does install flawless! Been trying to get pty.js working for days, and now it simply installs with `npm install -g`. So seems that this is the solution.

---

However, there seems to be another (Windows) issue. When running `gagarin`, with one sample test in the test dir (see below), I receive an exception that mongod doesn't exists. Seems to me that the path is incorrect concatenated.

[code]

[2015-05-01 09:50] apendua commented on #126
@smeijer Lemme fix it ... it's a trivial problem I guess.

[2015-05-01 09:59] apendua commented on #126
@smeijer Are you sure it's `..\bin\mongod` and not `..\bin\mongod.exe`?

[2015-05-01 09:59] smeijer commented on #126
It's trivial indeed.

Changing the path in `artifiacts.json` didn't help either. It also requires the '.exe' suffix. I've verified that trough modifying `mongoDBProcess.js`

Hack arround line 43 makes it work:
[code]

[2015-05-01 10:03] smeijer commented on #126
After fixing the mongo thing, I'm running to some `Cannot find module fibers`. Even though I did a succesfull `npm install -g fibers`

[code]

[2015-05-01 10:05] apendua commented on #126
@smeijer I see ... it's a whole different story with fibers ...

[2015-05-01 10:07] apendua commented on #126
I guess it's because of this line:

https://github.com/anticoders/gagarin/blob/develop/meteor/backdoor.js#L3

Can you verify it? You will probably have to create a symbolic link to `anti:gagarin` withing your project `packages` directory.

[2015-05-01 10:33] smeijer commented on #126
Found out the fibers issue is pretty simple.

You forgot to depend on it in `package.js`.

[code]

[2015-05-01 10:39] apendua commented on #126
Well ... I assumend Meteor includes it anyway. At least this is how it works on "non-windows" systems. I am wondering how this is solved in case of windows.

So everything else started to work after that fix? Can you also play around with chromdriver and see if browser tests work fine? You can try using the `./test.js` script within `gagarin` root directory.

[2015-05-01 13:31] smeijer commented on #126
Had some strange issues, so I started over. Removed all node and npm installations, to start fresh. Installed node 0.10.36 as advised by MDG.

Now, I can't get arround the `fibers` issue:

[code]

running `test.js` from within `gagarin` root directory:

[code]

unfortunately doesn't seem very easy to get gagarin up and running on Windows. Any thoughts, or anything left I can do or test?

[2015-05-01 13:35] arunoda commented on #124
I checked and it works.
Thanks.

On Fri, May 1, 2015 at 1:49 PM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-05-01 13:45] apendua commented on #126
@smeijer No worries. I think I have a pretty good insight on the main difficulties. I will try to experiment myself later this weekend and let you know about the results.

[2015-05-01 15:21] smeijer commented on #126
Yeah! Got it (kind of) working with your `no-pty` branch.

Here is a small how-to:

Obviously, start with installing the `no-pty` branch. Be sure to use the 32bit version of node when using / running `gagarin`. *(I suggest to use something like [coreybutler/nvm-windows](https://github.com/coreybutler/nvm-windows) for node version management)*

After installing `gagarin`, navigate into the build di

[2015-05-01 15:58] apendua commented on #126
Ah! Now I get it. After the build was done Gagarin was creating a symbolic
link to node_modules rather then running npm install because it's both
faster and more reliable. The reason it didn't work here was either the
same you got wrong mongo executable (so the symlink was pointing to a wrong
place) or because links are generally problematic in windows. It would be
very helpful if you tried to det

[2015-05-01 16:11] smeijer commented on #126
Alternative solution, install the required packages in meteor's node_modules folder. I really don't understand why those aren't there in the first place.

[code]

Now you don't have to run `npm install` every time meteor rebuilds the project. Instead, you have
to recreate a symbolic link after each rebuild.

[code]

To do this automatically before each test run, create some kind of `test-runner.ba

[2015-05-01 16:19] smeijer commented on #126
@apendua, the symbolic link works fine. But it does require installing the missing packages. I can't see why they aren't there already.

Meteor itself doesn't have a `.meteor/local/build/programs/server/node_modules` folder when running `meteor`. I'll dig a bit into the meteor files to find out why and how.

[2015-05-01 17:08] smeijer commented on #126
Ouch... the solution appears to be so simple that it hurts.

The `meteor` command itself is a bat file (`%AppData%\..\Local\.meteor\meteor.bat`) which contains the path to the current meteor-tool version, and invokes that file (`%AppData%\..\Local\.meteor\packages\meteor-tool\1.1.3\mt-os.windows.x86_32\meteor.bat`). That bat file sets a variable `NODE_PATH` and runs a `main.js` trough its own `nod

[2015-05-01 20:29] apendua commented on #126
@smeijer Thank you for this in-depth investigation. That's really helpful. I was about to release a new version this weekend wtih a fix for #124 reported by @arunoda, which was BTW related to a problem with `pty.js`. Now I think I will give myself another day or two and will try to address the problems you identified. So if we are lucky, we may have a windows compatible version in release `0.4.10`

[2015-05-01 20:44] apendua commented on #124
@arunoda In fact I've found another way to fix this this issue. That would be removing `pty.js` entirely. In fact the only reason we are using it right now is because we want to parse the potential build error message and be able to display the output from meteor builder at the same time. On the other hand, if we get rid of `pty.js` we might be able to support windows platforms pretty easily, see

[2015-05-01 20:46] arunoda commented on #124
Okay got it.

On Sat, May 2, 2015 at 2:14 AM Tomasz Lenarcik <notifications@github.com>
wrote:

[2015-05-01 21:47] apendua commented on #126
@smeijer Ok, I think I addressed most of the problems you described in the latest commits to `no-pty` branch. Can you please verify it? Please note that I had to adjust both `gagarin` and `anti:gagarin` so please make sure that you have a link to the latter in your project. The `mongo.lock` is a somewhat different problem but I will still try to fix that when you confirm that everything else work

[2015-05-02 13:40] smeijer commented on #126
I'm afraid that there is one tweak left that has to be implemented to make it work.

`spawn` in Windows requires an extension when spawning `.bat` files. I found out it can be omitted for a `.exe`, but it has to be provided for all other extensions. Meteor for Windows, is a `.bat` file (`%AppData%\..\Local\.meteor\meteor.bat`).

I've installed the latest `no-pty` branch as node module and as packa

[2015-05-02 13:57] apendua commented on #126
@smeijer Nice! I think that our little troublemaker is located here:

https://github.com/anticoders/gagarin/blob/develop/lib/meteor/build.js#L212

If you want to fix that part of code to work on all platforms and submit a PR against `no-pty` that would be most wellcome. The problem with the `test.js` script is indeed related to a symbolic link which obviously does not work on windows. I think this

[2015-05-02 14:09] smeijer commented on #126
@apendua I think we should indeed life with the fact that there is no way to test the tester on Windows. The symbolic link (directory junction) i created is causing some weird infinite loops when for example searching in files in that directory via Sublime Text. Duplicating the entire directory into the packages folder results in 'too long filepaths'. So indeed, leave `test.js` and the symlink as

[2015-05-02 18:26] smeijer commented on #2
Why not use the same directory, but a different database? Try to connect to the already running instance if it is running, and spawn otherwise. Then, just like for example mike:mocha (or is it velocity?) does, create a `gagarin` database, and use that instead.

As extra benefit, this way it's pretty easy for the user to see what exactly happens in the database `gagarin` uses.

[2015-05-03 07:13] apendua commented on #124
@arunoda Can you please try `0.4.10-pre1`? When you confirm it works with no problems I will publish the next release.

[2015-05-03 07:14] apendua commented on #126
@smeijer It's all in `0.4.10-pre1`. Can you confirm it works on windows before I publish the next release?

[2015-05-03 12:02] smeijer commented on #126
@apendua, confirmed. It really works :+1:

---

One thing to keep in mind though, fs.symlink in [linkModules.js](https://github.com/anticoders/gagarin/blob/develop/lib/meteor/linkNodeModules.js#L49) requires it to run as administrator.

Certainly no dealbreaker, but in a perfect world, the required symlinks where created in the npm `postinstall` hook, so only installation requires elevated rights.

[2015-05-05 16:00] apendua opened #128 "Find workaround for symlinks on windows platform ..."
... because we don't want to force users to run within the administrator console.

A detailed explanation of the problem can be found here:

https://github.com/anticoders/gagarin/issues/126#issuecomment-98474099

[2015-05-05 16:04] apendua commented on #126
@smeijer Maybe we could use `NODE_ENV` variable instead of creating symbolic link? Anyway, I've created a dedicated issue for this problem. It would be great if you could help me with that one.

[2015-05-05 16:04] #126 closed

[2015-05-05 16:20] apendua commented on #124
@arunoda I think it's already fixed in `0.4.10`. Please tell me if I am wrong.

[2015-05-05 16:20] #124 closed

[2015-05-05 16:20] #122 closed

[2015-05-05 17:59] smeijer commented on #128
I've taken a quick look at the issue, and am willing to investigate further in a while.

The first results are unclear, I can just comment out the body of [`createSymlink`](https://github.com/anticoders/gagarin/blob/develop/lib/meteor/linkNodeModules.js#L48) and the whole thing works. I guess because you're spawning the correct `node` version? (meteor's own?).

So, can't say for sure why it works

[2015-05-07 07:55] apendua commented on #128
@smeijer Interesting. If we could avoid creating those symlinks it would be awesome.

[2015-05-19 16:28] apendua commented on #60
I no longer think this makes sense. It's very likely that we will encourage people to use `fibers` for all async work.

[2015-05-19 16:28] #60 closed

[2015-05-23 22:56] apendua commented on #128
@smeijer Any status update on this one?

[2015-05-25 08:54] samhatoum commented on #104
@apendua want to meet again to pick up where we left off? Velocity had really advanced since we spoke :)

[2015-06-30 23:27] rb365 opened #134 "Testing microservices"
I have an app that is broken into microservices. They talk to each other through DDP. Currently I individually test services with Gagarin and it works great, but I would love to be able to test the whole application with Gagarin with all of them running at the same time. Is there an easy way to do this in Gagarin? For example, looks like meteor() can take parameters to node folder and project fold

[2015-07-01 03:24] rb365 commented on #134
actually never mind, I got this to work with the above idea :D

[2015-07-01 03:24] #134 closed

[2015-07-01 21:42] apendua commented on #134
@rb365 That's exactly what this interface was designed for. I am afraid it's not described in the README file yet. Congrats for figuring this out on your own!

[2015-07-31 18:10] Slava commented on #71
Is there any reason you can't run against minimongo instead of TingoDB?

[2015-07-31 20:56] apendua commented on #71
@Slava Good point. There's probably no reason it can't be done but it just didn't occur to me as something easy to implement. Please tell me more if you have some ideas.

[2015-07-31 23:24] jbaxleyiii commented on #49
@apendua anything specific I should be aware of about CircleCI?

[2015-08-01 06:33] apendua commented on #49
@jbaxleyiii Nope, no problems with CircleCI. It works flawless.

[2015-09-30 07:38] rb365 opened #135 "problems with build if you have platforms other than browser and server"
if you have ios (or other platform) added in .meteor/platforms then gagarin won't work because meteor build will exist with following:
"Supply the server hostname and port in the --server option for mobile app builds."

there should probably be a way to ignore builds that are not browser and server, or a way to provide build parameters to gagarin

[2015-09-30 07:40] apendua commented on #135
@pociej I remember you've found a workaround for this. Can you please share your thoughts?

[2015-10-10 10:48] thomers commented on #69
Was there any decision or progress regarding this issue?

[2015-10-23 15:54] welelay opened #138 "help needed with helpers"
Hi Tomasz,
I try to put my browser helpers in a common file.

I currently have in many files
[code]

What I try to do is create `browser_helper.js` like this:

browser_helpers.js:
[code]
And use it in all my tests like this:
[code]

My problem is how to get a `client` for the sendKeys call in the uploadFile callback.

I first tried `var client = this`, but the call to `client.sendKeys` then never

[2015-10-23 16:23] apendua commented on #138
@welelay This is a very good question. Can you please try this code
[code]
and tell me if it helps?

[2015-10-23 16:39] welelay commented on #138
Yes: that's it.
Now I've found GenericPromiseChain.js and will understand better what happens with client call chains.
Thanks!

On the contrary, browser helpers should always use return this.whateverMethod so that it returns a promise, right ?

[2015-10-23 16:41] apendua commented on #138
This API is not one of the most intuitive ones. I will probably need to redesign it at some point. And yes, browser helpers should always return a promise.

[2015-10-23 16:47] welelay commented on #138
That's fine with an example :-)

[2015-10-23 16:47] #138 closed

[2015-11-16 22:57] cjsauer opened #139 "What is currently the best practice for adding fixtures?"
This is just a question, not actually a problem with Gagarin. Could you point me to an example that uses fixtures? Is there any way to share fixture data between tests, or do I have to do the creation of fixtures in `before()` hooks every time?

[2015-11-23 08:36] apendua commented on #139
Hey @cjsauer! The way I am currently approaching this is by having `helpers` defined in a separated module and providing them to each newly created `client/server` with the `options.helpers`, so:
[code]

[code]
Can you please check if this solution works for you? Is it anything close to what you're looking for?

[2015-11-23 17:36] cjsauer commented on #139
Great, this is exactly what I was looking for. I have tested your solution and it is working. Thank you!

[2015-11-23 17:36] #139 closed

[2015-11-24 13:20] samcorcos opened #140 "meteor build exited with code 1"
I'm playing around with Gagarin with a fairly simple example and I can't seem to get it to work... When I run `gagarin -v` I get the following error:

[code]

[Here is the repo](https://github.com/samcorcos/gagarin-circleci) if you want to clone it and see if you run into the same issue.

It's basically just a copy of the `meteor create --example leaderboard` with a single basic test. It runs fine

[2015-11-24 18:32] apendua commented on #140
@samcorcos Interesting. I will be looking into this shortly. Thanks for reporting this issue.

[2015-11-25 02:56] samcorcos commented on #140
Awesome! Thank you for such a quick response :smile: I'm looking to integrate Gagarin with CircleCI and probably write an article showing others how to do it as well.

I've gotten Gagarin to work with existing projects, though I'm currently having an issue with CircleCI and the `npm-container` package, but that's an issue ticket for another repo :wink:

[2015-11-26 09:04] apendua commented on #140
@samcorcos It's actually a duplicate of #135.

The question is: when calling `meteor build ...` can we ask them to ignore other platforms than `browser` and `server`? Of course I could swap the `.meteor/platforms` file for a second but it does not look like a canonical solution. Any ideas?

BTW, providing `--server` option does not help at all, because leter on meteor will complain about missing e

[2015-11-28 10:00] apendua commented on #140
Any progress on this one? If we don't find any workaround I think I will
just go ahead and implement the platforms file replacement hack.

W dniu środa, 25 listopada 2015 Sam Corcos <notifications@github.com>
napisał(a):

[2015-11-28 22:35] samcorcos commented on #140
Yeah, that might be the best solution for the time being. Sadly, I don't know enough about Meteor's build system to make any enlightened suggestions :(

[2015-11-28 23:35] samcorcos commented on #125
This is a good idea! Did this get implemented?

[2015-11-28 23:38] samcorcos commented on #119
Not creepy :) But I would note that the documentation does not currently tell you to add the package, so it might confuse people when they see that the package was mysteriously added.

[2015-11-28 23:42] samcorcos commented on #118
Yeah, this is a really good idea. All major production apps that I've seen use Istanbul for test coverage. This would be a really nice feature.

[2015-12-01 11:21] pociej commented on #140
@samcorcos i just pushed platforms file replacement https://github.com/anticoders/gagarin/commit/c9abd9b166ca60934ae53118c25ef42f84d5ac6b

[2015-12-01 18:58] awatson1978 opened #141 "Nightwatch integration!"
Hi!  Just saw the post by @samcorcos on forms.meteor.com about Gagarin.js testing, and I was excited to see another mocha based test solution in the ecosystem.

So, 6 months ago, I approached Andrei over at Nightwatch, and asked about Mocha integration, and about 2 months ago he was able to finally get it working.  I had initially expected that he would encapsulate the Mocha ``describe/it`` syntax

[2015-12-02 01:01] samcorcos commented on #140
@pociej Many thanks!

[2015-12-02 01:01] #140 closed

[2015-12-02 07:47] apendua commented on #140
Now we need to publish the new version. @samcorcos can you please confirm everything works as expected?

[2015-12-02 07:50] apendua commented on #141
@awatson1978 Not tested yet, but I am pretty much sure you can do it, because Gagarin is just built on top of mocha and there's nothing fancy going on in the background.

So basically, you should be able to use nightwatch for your client-side part of the tests and keep using Gagarin for the server part. At least in theory :)

[2015-12-02 08:37] awatson1978 commented on #141
Right???

I've been reluctant to spin up a vanilla mocha test runner, because it was pretty obvious there was some  Meteor-specific functionality missing.  But Gagarin seems to have addressed all the missing pieces....  so I'm super intrigued.

I *think* we may be able to get the following script working, which would be a major milestone for testing the todo app.

[code]

[2015-12-02 08:57] apendua commented on #141
Why don't you give it a try and see what happens? :)

The above script is missing `server = meteor();` declaration. Also, Gagarin is usually running on some random ports to reduce the risk of collision. The `server` object will have `.getDDPSetup()` method that returns a promise which will resolve as soon as the server is started. So you can get the port from there.

[2015-12-02 09:08] awatson1978 commented on #141
It will have to be Thursday, but I'm very excited to give it a try!  :)

Will post results in a couple of days.  And thank you for reviewing my code and providing some pointers for getting things set up!

[2015-12-03 08:07] awatson1978 commented on #141
Hmmmm... any ideas?

[code]

[2015-12-03 12:38] apendua commented on #141
I am wondering where exactly `gagarin` is looking for your modules. It's probably easiest to install them globally. If it does not work for you, you will need to create a custom `package.json` somewhere and try to follow the same pattern as here:

https://github.com/anticoders/gagarin/blob/develop/test.js

[2015-12-03 20:16] awatson1978 commented on #141
Hmmm...

- Nightwatch is installed globally.
- I've tried running commands with/without ``sudo``.
- Tried cloning the gagarin repository, adding ``nightwatch`` to the ``package.js`` file, and then adding ``var nightwatch = require('nightwatch')`` to various files such as ``test.js`` and ``lib/mocha/gagarin.js``.

Same error in each situation.  Looks like integration isn't going to be quite as easy

[2015-12-04 03:31] rb365 commented on #117
+1
WebdriverIO uses Sizzle (http://sizzlejs.com/) for selector, which is a lot more powerful than what is currently used in Gagarin. It can, for example, click on element by text: http://webdriver.io/guide/usage/selectors.html

[2015-12-04 08:44] apendua commented on #141
@awatson1978 The `Gagarin` class is extension of `Mocha` so pretty much everything you can do with mocha programatically, you can also do with gagarin. A good example is the `test.js` file I included in the previous comment. Looking at your code here it should pretty much work, but `Gagarin` constructor may require some additional options like `pathToApp`, `webdriver` (if you want to use `browser`

[2015-12-05 00:00] faceyspacey opened #142 "your Gagarin is being talked about a lot in the Meteor community right now.."
it started with @samcorcos 's article about Gagarin:

https://medium.com/@SamCorcos/continuous-integration-with-meteor-circleci-and-gagarin-a77db143efdd

https://crater.io/posts/Pqp9dMbJhNihwthZx/continuous-integration-with-meteor-circleci-and-gagarin

https://forums.meteor.com/t/continuous-integration-with-meteor-circleci-and-gagarin/14192

NEXT: @arunoda  had some comments in the Meteor forum ab

[2015-12-05 22:10] apendua commented on #142
@faceyspacey Thanks for pointing out these important issues! Do you think we could move this discussion to meteor forum? It feels like a better place to talk about things like website and marketing.

BTW, replacing Velocity has never been my goal, because Gagarin does not solve all the problems out there. Though, it does solve a few of them and I think it does it well.

Anyway, good to know more p

[2015-12-05 22:16] faceyspacey commented on #142
What issues does velocity solve better in your opinion? What issues are they both lacking (in solutions) for?

[2015-12-05 22:17] rlgreen91 commented on #128
I'm following this as well, since I seem to be running into the same issue.  I think I mostly understood what you guys discussed in the previous issue, so I'm willing to take a look at the problem if time is an issue.

[2015-12-05 23:02] smeijer commented on #128
Sorry guys. I totally forgot about this one. I can take a look at it tomorrow.

@apendua, do you prefer me to use a specific branch for this issue?

[2015-12-06 15:31] apendua commented on #128
@smeijer Yes please. Create a new branch from `develop`.

@rlgreen91 Thanks for being ready to help. Can you please coordinate your effrots with @smeijer? Whould be great if you could solve this guys!

[2015-12-06 20:35] rlgreen91 commented on #128
Sounds good.  @smeijer just let me know when you create the branch, so I can fork with confidence.

[2015-12-06 20:59] smeijer commented on #128
@apendua, I lost the entire day of making this thing work. I was pretty sure it had to work as I expected, and at the end it turned out it did indeed work. I just cannot get the current `develop` branch to work stable on Windows.

That's why I have committed the changes against `master`. You are of course free to rebase against `develop`, or just postpone the merge for somewhere in the future. The

[2015-12-06 23:19] apendua commented on #128
@smeijer Thanks for spending your time on this one.

Maybe it's a good idea to do the PR against `master` after all. It will be definitely more safe to publish a new version starting from there rather than going from `develop` too early. Speaking of which, I am a little bit concerned about the problems you experienced related to the stability drop on Windows. Can you share some feedback with me? e

[2015-12-06 23:26] apendua commented on #128
@pociej Do you think the problem @smeijer is describing may be related to your recent updates? Can you make sure it works properly on Windows?

[2015-12-06 23:51] smeijer commented on #128
@apendua, I'll see what I can do. The last commit of @pociej had a little to do with it. But that errors I already fixed. There was a lot more going on, exceptions happening but not being reported, while the same tests succeeded after a reinstall of gagarin. There was also a bug in the cleanup part. But I don't have the logs with me a.t.m. So I'll come back to this with more detailed information.

[2015-12-10 00:12] mbreuer23 commented on #139
I am trying to load fixtures this way (which include user accounts) and then login with one of the users I created.  I can see from the logs that the fixtures are being created, but I guess they are taking too long to be created and I get a timeout error before the rest of my tests can run.  What am I doing wrong here?  My simple test looks like this:
[code]

[2015-12-10 00:14] mbreuer23 commented on #139
Oh and the error I am getting looks like this:

1) Users  "before all" hook:
     Error: timeout of 5000ms exceeded
    at [object Object].<anonymous> (/Users/user/.npm-packages/lib/node_modules/gagarin/node_modules/mocha/lib/runnable.js:158:19)
    at Timer.listOnTimeout (timers.js:119:15)

  2) Users  "after all" hook:
     Error: Meteor code is still not loaded after 2000 ms
    at [object Obje

[2015-12-10 15:27] bitomule opened #144 "SpyOn support?"
I'm moving from jasmine + velocity to gagarin but not sure how to do spyOn with gagarin. Any idea?

[2015-12-11 17:05] awatson1978 opened #145 ""before all" / "after all" hook errors in package only app"
Hi there,
So, everything has been working swimmingly with Gagarin so far, and I'm happy to report that we've got StarryNight and Atom integration working already.

Moving onto package-only apps, I have a [package-only app](https://github.com/clinical-meteor/framework-doc-generator/tree/master/musicbox) for generating [release api documentation](http://clinical-docs.meteor.com/), and would like to

[2015-12-11 17:11] apendua commented on #145
Hey Abigail! Nice to hear things are going well with Gagarin integration.

Thanks for reporting this issue. Can you create a minimalistic example in a separated repository so that I can pick it up and reproduce this error locally?

[2015-12-11 17:13] apendua commented on #144
@bitomule Can you provide some example test in which you're planning to use Gagarin along with spyOn?

[2015-12-11 17:22] awatson1978 commented on #145
Sure, it's pretty simple:

[code]

And the tests in the package that we want to include:
https://github.com/clinical-meteor/clinical-env/blob/master/tests/gagarin/Env.js

[2015-12-11 20:58] bitomule commented on #144
@apendua I use it when I need to check some method is called and also to return a fake response from that method. For example, a method that calls stripe api.

How should I do that with gagarin?

[2015-12-11 21:28] awatson1978 opened #146 "Account.createUser() test..."
Another quick question for you.  Busy giving Gagarin a try in the [clinical:active-entry](https://github.com/clinical-meteor/clinical-active-entry) package, and am bumping into an error (see below).

Since user account creation is a fairly canonical usecase, I figured this one would be good for the readme and future docs and worth logging as an issue for other people to refer to in the future.

An

[2015-12-11 23:00] apendua commented on #146
You should wait for that data. Gagarin is usually faster than the entire mongo update cycle, so instead of `server.execute` you should use `server.wait(...);`.

[2015-12-12 00:28] awatson1978 commented on #146
Ah, thank you much!  I had tried ``wait()``, but apparently got the syntax wrong.  Spent the afternoon working on it, and finally got the following to work:

[code]

Your bit of advice saved me hours of work!  Thank you for your patience and all the great work!

[2015-12-12 00:28] #146 closed

[2015-12-12 03:58] awatson1978 commented on #145
Ah; figured this out.  There were two things:

- First, I forgot the ``meteor add clinical:env`` command.
- Second, needed to specify ``Env.allow()`` on the server.  That particular package requires a config object to be set for the client side components to work.

tl;dr - The "before all" and "after all" hooks errors happen if the app the packages belong to doesn't load successfully.

[2015-12-12 03:58] #145 closed

[2015-12-13 03:01] jbaxleyiii commented on #135
@apendua did you have a workaround for this?

[2015-12-13 08:59] pociej commented on #135
@jbaxleyiii, its solved on develop branch

[2015-12-15 14:52] MartinBucko commented on #22
+1 .. it will be helpful also to allow set default timeout on Gagarin helpers

https://github.com/anticoders/gagarin/blob/develop/lib/browser/helpers.js#L4

[2015-12-16 12:08] welelay opened #147 "getting AssertionError stack traces in server code"
Hi,
I'm writing server-side tests by calling
[code]
Guess what ? I get an AssertionError "expected undefined should exist"
What's the culprit: `var a=` or `var b=` ?
No way to tell.

So I've dug in the gagarin codebase and added

[code]
at backdoor.js:15

and
[code]
to the compile() function also in backdoor.js.

Now I get:
[code]
and
[code]

So I can count lines and deduce that the line in error

[2015-12-16 13:51] welelay commented on #147
I've hacked something in #137.
I'll test it some more...

[2015-12-16 13:57] apendua commented on #147
It's a very important problem you are pointing out here. I've been working on this some time ago and eventually gave up because it turned out stack traces are totally unpredictable in browsers when it comes to evaluating dynamically included code like in our case. So I gave up, but it's probably something that will need to be solved eventually. Please let me know about the results of your research

[2015-12-16 14:02] welelay commented on #147
Good to know.
I've not tackled the browser.execute() stacktraces yet.
The latest commit in the PR is for server.execute(), though.
Maybe it's more reliable...

[2015-12-16 21:39] awatson1978 opened #148 "[feature request] Undefined tests shouldn't return successful."
Hi!
So, I've been digging into test coverage for a half-dozen packages, and would like to suggest a very needed feature:  if Gagarin doesn't find an ``expect()`` statement to parse, it shouldn't return a green success in the test runner.  Preferably, it should return yellow or undefined.  I'm finding that it's quite common to write a test, think that it's passing, only to discover that the I wasn'

[2015-12-16 23:45] apendua commented on #148
@awatson1978 I think it's a good idea. I will think more about it in the morning.

[2015-12-17 14:38] ArtemKo7v opened #149 "Redirect output causes error"
[code]

[2015-12-17 15:16] apendua commented on #149
@ArtemKo7v Ha! Good catch! Which version are you currently using?

[2015-12-17 15:24] ArtemKo7v commented on #149
@apendua 0.4.11

[2015-12-20 00:34] ncrmro commented on #140
I'm having this problem running my contentious integration. Doesn't happen on os x, also tried node 0.10.x.

[code]

[2015-12-20 12:22] #149 closed

[2015-12-20 12:23] apendua commented on #149
@ArtemKo7v Thanks for reporting this. It's already fixed in `master` and I hope I will publish it at the beginning of the next week.

[2015-12-20 12:25] apendua commented on #140
@ncrmro Thanks for reporting this. I think that the issue is not related to #140, but this:

https://github.com/anticoders/gagarin/commit/4ee32adde8de5d0a864ddb09e0c82ae709c5575e

It's already in `master` and will be published along with `gagarin@0.4.12`.

[2015-12-20 12:26] apendua commented on #141
@awatson1978 Do you think we can consider this issue resolved?

[2015-12-20 12:27] apendua commented on #128
@rlgreen91 Can you help us by confirming that the solution implemented by @smeijer works for you?

[2015-12-20 12:28] apendua commented on #142
@faceyspacey I understand that the discussion was moved to meteor forum, so I am closing this ticket.

[2015-12-20 12:28] #142 closed

[2015-12-20 12:48] apendua commented on #148
I was thinking a little how to implement this and it feels like it may not be trivial to do so. Consider the following example:
[code]
Would you consider this a valid test case? One one hand it's correct because it contains assertion. On the other hand, the assertion may not be executed if `someCondition` fails. So there's a dilemma if we should apporach this problem by looking at the syntax only,

[2015-12-20 12:52] apendua commented on #144
@bitomule The problem here is that when you execute some code with
[code]
it is run in the respective environment (client or server) so not really in your current node process. I understand that `spyOn` makes most sense if you use it either on server or client, so you will need to make sure that the library is available in those environments, probabbly by creating a custom `debugOnly` package and

[2015-12-20 14:42] apendua commented on #135
@jbaxleyiii FYI, we have the patch but it's not published yet. I will probably do it tomorrow.

[2015-12-20 15:58] apendua commented on #8
This should probably become a part of the `gagarin-staging` package.

[2015-12-20 16:10] apendua commented on #25
Closing as not constructive.

[2015-12-20 16:10] #25 closed

[2015-12-20 16:11] apendua commented on #82
We should probably make it more stable rather than try to measure its instability.

[2015-12-20 16:11] #82 closed

[2015-12-20 16:12] apendua commented on #69
Given the current status of `velocity` project this issue is currently deprecated:

https://forums.meteor.com/t/the-state-of-velocity-and-testing-in-meteor/15084

[2015-12-20 16:12] #69 closed

[2015-12-21 07:33] ArtemKo7v commented on #149
@apendua Thanks!

[2015-12-21 08:50] apendua commented on #79
Closing in favor of other architectural changes.

[2015-12-21 08:50] #79 closed

[2015-12-21 08:51] apendua commented on #80
It does not seem like a good idea after all.

[2015-12-21 08:51] #80 closed

[2015-12-21 08:55] apendua commented on #71
The question is: how to run meteor instance with no `MONGO_URL` set up. Is it possible to fake it?

[2015-12-21 08:57] apendua opened #150 "Implement gagarin staging manager"

[2015-12-21 08:57] apendua commented on #61
Closing in favor of ther architectural modifications, i.e. #150.

[2015-12-21 08:57] #61 closed

[2015-12-21 09:04] apendua commented on #125
@samcorcos No, not yet but currently working on it. Though, it will probably become
[code]
and it will also make sure the required gagarin-related packages are installed.

[2015-12-21 09:09] apendua commented on #36
I am not 100% sure if we still want to support remote servers at this moment. It's definitely to early to put it in documentation. Closing for now.

[2015-12-21 09:09] #36 closed

[2015-12-21 09:10] apendua commented on #42
This is closely related to the posibility to run tests against remote servers.

[2015-12-21 09:12] apendua commented on #59
Closing in favor of #150

[2015-12-21 09:12] #59 closed

[2015-12-21 09:13] apendua commented on #147
Issue #52 is related.

[2015-12-21 09:14] apendua commented on #117
If think using WebddriverIO should be optional and as simple to integrate as possible. It would probably become very easy after #150 is done.

[2015-12-21 09:15] apendua commented on #63
It's not totally clear to me how it should look like. I think we will going in some different direction when it comes to logging, so closing it for now.

[2015-12-21 09:15] #63 closed

[2015-12-21 09:18] apendua commented on #68
Closing as deprecated.

[2015-12-21 09:18] #68 closed

[2015-12-21 11:24] ArtemKo7v opened #151 "Exception when running as a cron task"
I wrote a separate shell script to run gagarin.
It runs well when it is manually called from command-line.
But it throws an exception when running from crontab with root privilegies:

[code]

As I understand, it happens because of the incorrect node environment in child_process.spawn

[2015-12-21 11:27] apendua commented on #151
Yes, probably. But I would gess you're getting this error because of `meteor` command not being accessible by the root user. Do you think it's possible?

[2015-12-21 11:46] ArtemKo7v commented on #151
@apendua Yes, that was what caused the problem, many thanks!

[2015-12-21 11:47] apendua commented on #151
Let's not close this issue. This will probably need to be properly documented anyway.

[2015-12-24 17:07] jbaxleyiii commented on #135
@apendua awesome! I look forward to trying it out!

[2015-12-27 21:46] apendua opened #155 "Check how Gagarin performs with Meteor 1.3"

[2015-12-29 09:41] devonbarrett opened #156 "waitForRoute should be router agnostic"
[This](https://github.com/anticoders/gagarin/blob/develop/lib/browser/helpers.js#L169) helper function should be router agnostic, or at least compatible with both FlowRouter and IronRouter.

Perhaps by utilizing something like https://github.com/nicolaslopezj/meteor-router-layer/.

[2015-12-29 11:31] apendua commented on #156
@devonbarrett Good point.

[2015-12-31 08:51] apendua opened #157 "Think about using pm2 as the main process manager"

[2015-12-31 09:03] apendua commented on #157
There's another alternative:

https://github.com/strongloop/strong-pm

but I am not sure if it can be used programatically.

[2015-12-31 09:22] apendua commented on #157
@smeijer From what I've read, it may break windows support. Do you have any experience working with `pm2` on windows machine? We don't need much, e.g. things like startup scripts support are not required. Just an external process management utility.

[2015-12-31 09:54] smeijer commented on #157
@apendua, I don't have any experience with it. But I can play around somewhere in January? I'm quite busy a.t.m., so unfortunately I cannot manage to check on it at short notice.

I can arrange some time in third week of January. Then I can also check on the other Windows related things I came across in the `develop` branch. Would that be helpful?

[2015-12-31 09:58] apendua commented on #157
@smeijer No worries. By that time (the third week of January) I should be done with all refactoring stuff and it will be very helpful if you could do some testing on windows. Thanks for being ready to help!

[2016-01-04 17:10] jbaxleyiii commented on #49
@apendua for people using CircleCi and Gagarin on the OSX boxes:

https://medium.com/developing-newspring/testing-meteor-with-gagarin-on-circleci-osx-environment-4791a301c32d#.mu6l1kb1d

[2016-01-08 22:42] veered opened #159 "Load MongoDB from dump"
I'd like to be able to load fixtures generated by `mongodump` for my tests to use. Any idea what the best way to do this is?

[2016-01-09 10:16] apendua commented on #159
This is a good idea. Actually, I've been already thinking about adding this feature.

[2016-01-09 23:36] veered commented on #159
Is there a way of doing that now? Or at least connecting to an existing database for tests instead of provisioning a new one?

[2016-01-09 23:54] apendua commented on #159
@veered You can try passing `mongoUrl` parameter to the `meteor()` function, something like:
[code]
Please let me know if it helps.

[2016-01-11 20:58] veered commented on #159
I tried that syntax and it appears that Gagarin still creates a new database. What part of the codebase should I be looking at to figure this out?

[2016-01-11 21:49] apendua commented on #159
Here:

https://github.com/anticoders/gagarin/blob/master/lib/meteor/index.js#L37

and here:

https://github.com/anticoders/gagarin/blob/master/lib/meteor/index.js#L168

[2016-01-11 23:56] veered commented on #159
Looks like we need to pass in `mongoUrl` to `makeMongoDB` in `interface.js`. That did the trick for me. I would guess that `dbPath` used to be the correct option but was changed during a refactor.

[2016-01-12 18:06] veered commented on #159
Would you like for me to open up a pull request?

[2016-01-12 20:02] apendua commented on #159
@veered Yes, please.

[2016-01-12 23:14] veered commented on #159
Here's the pull request https://github.com/anticoders/gagarin/pull/160

[2016-01-13 08:25] apendua commented on #159
@veered Thanks! I will look into this.

[2016-01-18 18:47] zeucxb opened #161 "Travis"
Please, help me.

How can i use gagarin with Travis?

[2016-01-18 22:26] apendua commented on #161
Do you know how to run chromedriver on Travis?

[2016-01-19 05:11] ZeuCxb commented on #161
i don't know, i was trying to run gagarian tests/

[2016-01-19 21:55] apendua commented on #161
If you only want server-side tests then it's enough to have `meteor` and `gagarin` installed on your Travis instance. If, however, you want to run tests on browser you will need to have some webdriver running in the background. I suggest using `chromedriver` because it's the fastest, but you can also use selenium along with a firefox instance. Make sure that you pass the right webdriver port when

[2016-01-20 15:52] ZeuCxb commented on #161
My .travis.yml file:

language: node_js
node_js:
  - '5.3'
  - '4.1'
install:
  - "curl https://install.meteor.com | /bin/sh"
  - "npm install -g gagarin"
script: "gagarin tests/"
services:
  - "mongodb"

--- Don't work : /

[2016-01-20 15:53] ZeuCxb commented on #161
language: node_js
node_js:
  -- '5.3'
  -- '4.1'
sudo: true
install:
  -- "curl https://install.meteor.com | /bin/sh"
  -- "npm install -g gagarin"
script: "gagarin tests/"
services:
  -- "mongodb"

[2016-01-29 06:59] goose2460 commented on #161
Chrome is a pain to install on travis, this might help.  https://github.com/travis-ci/travis-ci/issues/938

[2016-01-29 19:57] goose2460 commented on #161
So I'm trying this as well, my .travis.yml looks like:

[code]

But I'm getting the following errors in the Travis VM:

[code]

[2016-02-18 10:51] suhail-ansari-apconic opened #163 "Cannot use import statements"
importing any module in my test files gives the following error

(function (exports, require, module, __filename, __dirname) { import Service from '/server/modules/xyz/service';
                                                              ^^^^^^

SyntaxError: Unexpected token import

I could not find any way to include babel while running gagarin -B tests from anti:gagarin package.

Any ideas?

T

[2016-02-18 10:57] apendua commented on #163
@suhail-ansari-apconic Thanks for reporting this. I am planning to add ES6 support along with upgrade to Meteor 1.3. Until then you may try to use Gagarin programatically, see

https://github.com/anticoders/gagarin/blob/master/test.js

[2016-02-28 22:16] lampe opened #164 "how to run gagarin on file change?"
Hey,

is there a way to run gagarin with a --watch flag that reruns the test when a file changes?

EDIT: iam watching the files now with nodemon.

[2016-02-29 07:57] #164 closed

[2016-02-29 08:28] apendua commented on #164
@lampe That's probably a very good idea to do it externally.

[2016-02-29 23:41] Kostanos opened #165 "Invalid xunit.xml file format when test failed"
I'm using gagarin `gagarin -T 15000 -t 15000 -m --reporter xunit > xunit.xml`

When everything is ok, xunit.xml is with valid format

But if there is error, I got invalid XML.

Ex:

[code]

It seems CDATA is not closed

[2016-03-01 00:47] Kostanos commented on #165
I found the problem, it is sed that I run after, to clean up the report.

gagarin doesn't make it clean.

This is what I run, and it doesn't work, so any help is welcome.

[code]

[2016-03-01 02:17] Kostanos commented on #165
This is what works for me as workaround, for those who has the same issue:

[code]

I still this task still should be opened, `gagarin` should suppress all output when generate xunit report.

[2016-03-01 12:37] khaledkbadr opened #166 "Can I run gagarin client on specific port?"
Hello,
I'm trying to test Facebook registration flow, the thing is, My facebook app can be accessed only by specific domains and gagarin uses random domains for the test. Therefore, is there anyway to run gagarin's client on specific port like for example `http://localhost:4000`

[2016-03-01 14:34] khaledkbadr opened #167 "Webdriver timeout"
Hello I'm trying to test OAUTH Facebook app. App pops up and everything is good unless driver times out before I get to type my credentials. How can I increase this timeout?

[code]

[2016-03-01 15:50] apendua commented on #166
@khaledkbadr Thanks for reporting this. Currently this is not possible but it should be rather easy to implement. If you could help me with testing, then I will go ahead and try adding this feature.

[2016-03-01 15:51] apendua commented on #167
Try something like this:
[code]

[2016-03-01 15:54] apendua commented on #165
@Kostanos This is probably a good idea. What if we had an option for that? So instead of making a guess `gagarin` could be instructed not to produce any additional output.

[2016-03-01 18:02] Kostanos commented on #165
@apendua alternative is to explicitly set the report output file

example: `gagarin --reporter xunit --report_output report filename>`

[2016-03-02 07:20] NaderIkladious opened #168 "UnknownError - An unknown server-side error occurred while processing the command"
Hello,

I wrote a test that simply call meteor method with data and I got this error in console, I can't figure it out.

[code]

Thanks in advance.

[2016-03-02 07:46] apendua commented on #168
@NaderIkladious Can you provide more details about this error? A list of minimal steps to reproduce would be great. Does it also happen with `chromedriver`?

[2016-03-02 07:46] apendua commented on #168
@NaderIkladious Try running `gagarin` with `--verbose` option. Can you see any interesting output?

[2016-03-02 07:48] khaledkbadr commented on #166
@apendua Sure, I'll be delighted to help!

[2016-03-02 17:18] khaledkbadr opened #169 "How to catch thrown errors?"
I have Meteor.method that throw errors. I'm using promises to test it. But the error throws before the expect can test it.

[code]

[2016-03-02 19:13] khaledkbadr commented on #169
My bad. I figured how to test it by using synchronous Meteor.call. It was not a gagarin issue.
Thanks

[2016-03-02 19:41] khaledkbadr opened #170 "how to use sinon inside server.promise?"
Hello,
I'm trying to stub `Meteor.user` in `server.promise` to return random user using `sinon`. The problem is `sinon` becomes `undefined` when I use it inside `server.promise` even when I add it as parameter. Is there anyway to use it inside  `server.promise`

[code]

It gives me this error `Error: Cannot call method 'stub' of undefined`
Thanks

[2016-03-02 20:12] iMagdy commented on #163
+1
I'd love to see ES6 support very soon!

[2016-03-03 08:32] apendua commented on #169
@khaledkbadr Here's how the code should look like:
[code]
If you're using `mocha` and if you return the promise from your test case definition, then you don't really need to call `then()` at then end, because `mocha` will do it implicitly. unless you of course want to log something or add some more specific assertions. In the latter case I suggest using a helper library like `chai-as-promised` for

[2016-03-03 08:39] apendua commented on #170
@khaledkbadr The only way to achieve that is to make `sinon` available globally to your entire meteor application. You can use a wrapping `debugOnly` package to make sure you don't mess up with your production build. Also, when Meteor 1.3 is out you should be able to use "modules" instead of creating a wrapping package. Please note that `gagarin` is not yet compatible with Meteor 1.3.

Another thi

[2016-03-08 08:54] khaledkbadr commented on #169
Thanks, you've save me lots of time.

[2016-03-14 13:58] NaderIkladious opened #171 "How do I test a publication that uses `this.userId` ?"
Hello,

I have this problem that I want to test a publication that only return content for current logged in user (this.userId)

how do i test it without mocking it? is there a way to set this.userId for publication in test ?

Thanks in  advance,
Nader Ikladious.

[2016-03-14 16:51] apendua commented on #171
@NaderIkladious It depends on what method you're using. Can you please send me the corresponding test snippet?

[2016-03-15 07:19] NaderIkladious commented on #171
Here is the publication I want to test
[code]

And here is the test code
[code]
This test won't work as the publication only publish posts for current user and it would be null while executing it in test.

Thanks.

[2016-03-17 10:40] nimerritt commented on #94
Any progress on this? My use case involves using Gagarin to spin up a Meteor instance exposing both a DDP connection and a REST API. I want to run integration tests against the API client and which is packaged as an npm package. I would just run everything as a standard mocha test, but I want to be able to make DDP method calls on the server to setup fixtures and don't expose that to the REST API.

[2016-03-17 13:00] apendua commented on #94
@nimerritt Interesting point. I am now trying to rethink Gagarin from scratch and I will definitely take your suggestion into account. Basically, the idea is to make Gagarin features injectable into whatever testing framework you prefer to use.

[2016-03-17 15:16] nimerritt commented on #94
@apendua, thanks!
Great work on this project. It was a life saver where I work (attach.io) Our core functionality is split between two Meteor apps. In the main Meteor app, users create links. In the other Meteor app,  people view these links. In addition we have another Meteor project serving out API and one running background services. Due to Meteor's lack of proper shutdown code on a redeploy, w

[2016-03-17 16:44] apendua commented on #94
@nimerritt Good to hear Gagarin was useful to you!

As you suggested, I am thinking about Meteor 1.3, but actually I don't think that modules are going to affect Gagarin a lot because it will probably stay as external to Meteor as possible. The only delicate part is the moment when you're requesting Gagarin to run the inline fixtures on the server/client side. Trying to ensure that these snippets

[2016-03-17 16:51] NaderIkladious opened #172 "Popup blocked by browser"
Hello,

I have this issue.

`Error: The login popup was blocked by the browser`

and in my chrome settings I'm enabling popups

Any advice?

Thanks,
Nader Ikladious.

[2016-03-22 08:21] isbjorn opened #173 "What is the best way to test meteor rest api?"
I am trying to test rest api (with heavy usage of headers)

Example code of api:

[code]

Example test:

[code]

What is the **best** way to test meteor rest api?

[2016-03-22 08:54] apendua commented on #171
@NaderIkladious Sorry for not responding sooner.

I think that what may help you in this particular use-case is the `login` helper:

https://github.com/anticoders/gagarin/blob/master/lib/browser/helpers.js#L156-L160

so you would need to do something like this:
[code]
Also, if you're only planning to test subscriptions and methods, then there's actually no need to spin up a browser instance. You c

[2016-03-22 08:54] apendua commented on #172
Sorry, I think it's more likely it's your webdriver issue. I can't imagine how it could be related to Gagarin.

[2016-03-22 08:59] apendua commented on #173
@isbjorn My intuitions tells me that you don't even need Gagarin to do that. Gagarin may help in spinning up the test server and injecting some fixtures on demand. But for the tests themselves a classical combination of `mocha`, `chai-as-promised` and standard `nodejs` API for doing HTTP calls, should work  well.

Of course you can use Gagarin to write those tests, but at least you don't need to u

[2016-03-22 09:01] apendua commented on #161
@goose2460 Have you managed to figure it out eventually? Would be great if you could share your solution with us.

[2016-03-22 09:04] apendua commented on #167
@khaledkbadr Did it solve your problem?

[2016-03-22 09:04] apendua commented on #168
@NaderIkladious Any additional input on this one?

[2016-03-22 10:42] khaledkbadr commented on #167
Yeah, thanks. I'm very grateful for the tip!

[2016-03-22 17:38] goose2460 commented on #161
I could not get this working with chrome, but I was able to use phantomjs and GhostDriver using the following travis.yml configuration: https://github.com/ECE-458-Resource-Manager/ResourceManager/blob/52badf4f00e0ca6ca9911244e73b303ec0517cae/.travis.yml

[2016-03-22 17:39] goose2460 commented on #161
phantomjs is preinstalled with Travis

[2016-03-22 17:51] apendua commented on #161
@goose2460 Thanks! Good to know.

[2016-03-23 05:57] isbjorn commented on #173
Thanks @apendua !

I use gagarin cause i have complicated case of client <-> server <-> api backend interaction.

This simple api test example looks ok for me:

[code]

[2016-03-23 08:35] apendua commented on #173
@isbjorn Nice. I didn't know about `supertest` library. It looks useful. Thanks for sharing that one with me!

[2016-03-23 08:55] isbjorn commented on #139
@mbreuer23

I had the same problem with timeouts
It was because of errors or exceptions in my loadData

[2016-03-24 13:58] MBThaumatec opened #174 "Does gagarin use meteor database or creates its own?"
Hi,

I've got an unexpected behaviour. On subscribing to publication I get data without inserting it at first. I was looking through other tickets and for example this ticket https://github.com/anticoders/gagarin/issues/112 suggest that database is dropped which is not true in my case. I've got:

[code]
[code]

So this results shows that gagarin and meteor used for development uses the very same d

[2016-03-24 14:25] MBThaumatec commented on #174
It's probably because I've messed fiber and promise based code...

[2016-03-24 14:25] #174 closed

[2016-04-21 16:33] Kostanos opened #175 "Access template instance from gagarin client test"
Hi, how can I access current Template.instance() from gagarin client test?

Basically what I need to test is the `data` passed to template.

Can be also through the router.

Thank you.

[2016-04-23 14:33] Kostanos opened #176 "How to run frontend tests in background (silently)?"
Does anyone have a nice solution to run FE tests in background?

We have many of them, and it is wast of time to watch'em all running, basically you can't do anything when they run.

There is a python solution described: http://stackoverflow.com/questions/16180428/can-selenium-webdriver-open-browser-windows-silently-in-background

Could it be adapted to Gagarin?

PS. I'm working in Ubuntu.
Thank y

[2016-04-23 16:33] devonbarrett commented on #176
You could use phantomjs.

[2016-04-23 16:34] devonbarrett commented on #175
You can use http://docs.meteor.com/#/full/blaze_getdata and pass in the DOM element.

[2016-04-23 21:19] Kostanos commented on #176
@devonbarrett thank you man, but really prefer to keep working with chromium any other though?

[2016-04-23 21:20] Kostanos commented on #175
This is what I needed, thank you!

[2016-04-23 21:20] #175 closed

[2016-04-25 10:04] welelay commented on #176
Run them in a VM or in the cloud (we run them on EC2 using Xvfb + chromedriver  ;  +x11vnc to take a look when desired).
If you are on linux, you could also run them in Xnest (just start xnest and maybe a lightweight window manager like openbox and export DISPLAY=:99 in the terminal before starting chromedriver ; run your tests as usual, they all stay in the Xnest window). I've used it with succes

[2016-05-05 14:48] Kostanos commented on #172
When you initialize the browser, there are plenty parameters you can pass to it. For example this is the list of parameters that I'm using:

[code]

You can dig more there, and found what parameters you need in your case. Please post here solution if you found, to share with everyone.

[2016-05-05 15:02] Kostanos commented on #155
I noticed it a little bit slower, we have 67 tests, 50 of them a client side (frontend), all of them runs perfect after we upgrade to 1.3. The only I noticed the rise on time of running tests (from 3min to 5min). But this maybe my PC related issue, and not a performance of Gagarin + Meteor.

I'm in love with Gagarin, please keep working on it!

Thank you.

[2016-05-05 15:06] Kostanos commented on #120
Can you help please, how actually to capture all logs from browser? can these logs been showed on terminal after each test run?

Thank you.

[2016-05-05 16:49] devonbarrett commented on #120
@Kostanos chromedriver has the `--log-path=chromedriver.log` option.

[2016-05-05 16:55] Kostanos commented on #176
Thank you @welelay for those who need it in Ubuntu:

[code]

This will run chromedriver on xnest display :1 and will not disturb you anymore with loosing focus to chromium window

[2016-05-05 16:55] #176 closed

[2016-05-14 13:46] Madsn commented on #128
Even running gagarin in an elevated prompt is not working for me.

[code]

[2016-05-14 13:48] apendua commented on #128
@Madsn This particular error means that `meteor` executable can not be found by the `gagarin` process. Are you sure it's available on your `PATH`?

[2016-05-14 13:49] Madsn commented on #128
@apendua everything else is working as expected, so I would expect so. I'm able to start up the application by simply typing `meteor` in cmd.

[2016-05-14 13:59] Madsn commented on #128
@apendua tried manually adding `c:\Users\<username>\AppData\Local\.meteor\` to my path, where meteor.bat is located. Hasn't helped unfortunately. Even tried installing meteor as an npm package, but that didn't work either. I'm on meteor 1.3.2.4.

[2016-05-14 22:06] rlgreen91 commented on #128
Sorry I've been out of the loop.  I'll start with validating the changes
from December tonight - I'm still running Meteor 1.2 if that helps.  If
you'd prefer for me to do something else instead, just let me know.

On Sat, May 14, 2016 at 8:59 AM Mikkel Madsen <notifications@github.com>
wrote:

[2016-05-23 02:28] Kostanos opened #177 "eq selector is invalid"
I'm trying to use `eq` selector:
[code]
and got this error:
[code]

Any idea?

PS. it works well when I try it on chrome console with jquery:
[code]

Thank you.

[2016-05-23 02:33] Kostanos commented on #177
I think I got it, probably is because `Gagarin` is not using JQuery, but pure CSS selector.

Is it any way to use JQuery as selector on this way? so I can use it in follow or similar methods

[code]

[2016-05-24 20:17] apendua commented on #177
@Kostanos You are right about `Gagarin` using "pure CSS selectors". If you need advanced JQuery features then you can easily implement a custom `waitForJQSelector` helper. The best point of reference is the implementation of the `waitForDOM` method, here:

https://github.com/anticoders/gagarin/blob/master/lib/browser/helpers.js#L30

[2016-05-25 02:33] Kostanos opened #178 "Parallel test running. Documentation, recommendations."
Hi, I'm playing with parallel test running.
My main goal is to speed up the tests.
In my case, 70 tests, mostly client-side.
Running without parallel and with parallel 2 or 4 processes, has no changes to the test execution time at all (2 minutes in my case).

I guess, one of the reason is running only one meteor instance, one browser instance?

Is there any recommendations, documentation about how

[2016-05-25 02:43] #177 closed

[2016-05-27 15:57] apendua commented on #178
@Kostanos How exactly you're using the parallel test runner?

[2016-05-27 17:33] Kostanos commented on #178
`gagarin -p 2`

Actually I just realized, I used it wrong, but now half of my tests are failing.
They share the DB right? so, if I use the same fixture in two parallel tests, and one of the tests changing it, the second one quell fail because this change also will affect it, no?

[2016-05-28 07:30] apendua commented on #178
@Kostanos You are right. If you want to run them in parallel you will need to make sure that each test is operating on a separate database. But in fact, this is the default behavior so if you are experiencing these problems it probably means that you've turned it off. Correct?

[2016-05-28 19:55] Kostanos commented on #178
I didn't changed any settings regarding using DB, I didn't even knew they exists.

So I run the tests with default settings.

[2016-05-28 20:26] apendua commented on #178
@Kostanos If that's the case then I don't see a reason the test may be failing. Sometimes I got timeout errors if I use too many parallel instances because my processor cannot handle it. Are your errors messages specific to your tests or maybe they look like internal Gagarin errors?

[2016-05-30 19:20] RobertLowe commented on #155
Sweet, this will make migrating less of a pain.

@apendua Maybe update the docs mentioning there's no known issues with up to 1.3? 👍  Thanks!

[2016-05-31 08:19] pashka4281 commented on #71
@apendua `process.env.MONGO_URL="..."` ?

[2016-05-31 08:26] apendua commented on #71
@pashka4281 The problem is not only about overwriting `MONGO_URL` but also about allowing it to be empty, which - as far as I know - was not possible at the time this issue was created. Maybe it has changed since then?

[2016-06-01 07:34] binarytracer opened #179 "after client.subscribe return "undefined""
We got a code mantra code structuring here,

file: **tests/gagarin/pukangkangtest.js**
[code]

file: **server/publications/index.js**
[code]

file: **server/publications/pukangkangs.js**
[code]

file: **lib/collections/pukangkangs.js**
[code]

file: **lib/collections/index.js**
[code]

**REVISION**
file: **tests/gagarin/pukangkangtest.js**
[code]

when console, **_allPukangkang_** is undefined, is

[2016-06-01 09:37] apendua commented on #179
@binarytracer By looking at the `ddp` npm module docs here:

https://www.npmjs.com/package/ddp

it looks like your example should work without having to `sleep(...)` because `client.subscribe()` should actually wait until the subscription is ready. Is it possible that your collection is empty? Does it get any better when you call `client.sleep(100)`?

[2016-06-02 00:14] binarytracer commented on #179
@apendua let me try to confirm it now, btw gagarin version
[code]

[2016-06-02 09:46] binarytracer commented on #179
it seems its not really working,

allPukangkang = **undefined**

even trying to use sleep in not helping at all,

how about the

[2016-06-02 14:44] welelay opened #180 "how to access Promise in test code ?"
I'd like to test a rest api with gagarin.
I figured I could use the 'http' module of node.js.
No big deal : `require('http');` at begining of test files.
But then, I have to return a promise in my test, like
[code]

It fails with `Promise is undefined`.
I can't find a way to grab promise from meteor, or with a require.

[2016-06-02 14:53] welelay opened #181 "Why doesn't Npm.require work in server test code ?"
I'm still trying to do a simple http.get in my test.

Here I try to make the server do the work:

[code]
It fails to find Npm or require, but has Meteor and all my application's module :
[code]

Is there a way to access base modules (not even npm packages) from server code ?

[2016-06-02 15:25] welelay commented on #180
I can't do it from client using $.get because the endpoint redirects to another domain without CORS headers.

[2016-06-02 17:43] apendua commented on #179
@binarytracer Can you help me by creating a minimal project & test example so that I can reproduce this error locally in my environment? The best way would probably be creating a dedicated public repository.

[2016-06-02 17:44] apendua commented on #181
@welelay Are you using `Meteor 1.3`?

[2016-06-02 17:46] apendua commented on #180
@welelay Have you tried `es6-promise` npm package?

[2016-06-02 23:51] binarytracer commented on #179
ill try my best, @apendua.

[2016-06-03 03:38] binarytracer commented on #179
let me set aside the setting up of sample project, how can we use the `mongo()` function, actually there are lot of questions wrangling my head now after seeing executing a code like

[code]
**Result:**

  'process',
  'Buffer',
  'clearImmediate',
  'clearInterval',
  'clearTimeout',
  'setImmediate',
  'setInterval',
  'setTimeout',
  'console',
  'nodeCrypto',
  'randomHexString',
  'looksLikeO

[2016-06-03 05:14] binarytracer commented on #179
ive observed on this part, that the **`client.publish`** works if you made a **`client.call`** first,

[code]

**Result:**
[code]

[2016-06-03 07:33] welelay commented on #181
yes

[2016-06-03 07:36] welelay commented on #180
Yes, with no success:
[code]
on top of the test script fails with
[code]

[2016-06-03 08:44] apendua commented on #180
@welelay Does installing `es6-promise` globally help?

[2016-06-03 08:49] welelay commented on #180
nope

[2016-06-03 08:53] apendua commented on #180
@welelay Can you please read the discussion at #141 and see if it's helpful.

[2016-06-03 09:46] welelay commented on #181
following https://nodejs.org/api/vm.html#vm_example_running_an_http_server_within_a_vm
there may be a way to access `require` by adding it to plugins in `backdoor.js`.
I'll let you know...

[2016-06-04 10:01] binarytracer commented on #179
@apendua, https://github.com/binarytracer/mantra-gagarin

[2016-06-06 09:30] welelay opened #182 "all remaining tests failing with timeout after 30-ish tests pass"
I have ~60 test scenarios.
I run them in sequence with gagarin -b.
After the 1st one, I run them with gagarin -B to reuse the build.
They are "fat" tests, ie. each may require 10-30 seconds to run.
The first ~30 will pass, but then gagarin will be stuck starting the 31st and all further tests will result in timeout at startup. This used to work before meteor 1.3.

The full list of options I give t

[2016-06-06 11:37] apendua commented on #182
@welelay Can you try running it with verbose mode on, `gagarin --verbose` and show me the logs that pops out right before you get this error?

[2016-06-07 05:55] binarytracer commented on #179
@apendua, link above is updated with tests ( method and publication )

[2016-06-07 08:28] apendua commented on #179
@binarytracer I believe that make sense because if you don't add any item then the collection is just empty.

[2016-06-07 22:23] #179 closed

[2016-06-10 14:01] Laboratory opened #183 "Gagarin community"
Hello guys,

Is this project still alive? Where is road map?

Vitaly

[2016-06-11 07:16] apendua commented on #183
@Laboratory These are two very good questions.

Gagarin is currently in "maintenance" mode, which basically means: no active development of new features and trying to fix BUGs as they came up.

All this said, it does not mean that there are no plans for further development but unfortunately the roadmap is only in my head at this point. Maybe it's a good moment to share these ideas with others and

[2016-06-16 11:19] Laboratory commented on #183
May be necessary to create a project in Trello and fix roadmap. To date no of full value frameworks for testing meteor applications.

[2016-06-29 10:52] welelay commented on #182
test   stopping meteor instance
 system  dropping database mongodb://127.0.0.1:4683/gagarin_671_1467196939078
  test   meteor instance terminated
  test   stopping browser instance
    1) "after all" hook

  27 passing (4m)
  1 failing

  1) FF Moderation "after all" hook:
     Error: timeout of 200000ms exceeded
    at [object Object].<anonymous> (/usr/lib/node_modules/gagarin/node_modules/mocha/

[2016-08-04 16:01] j6k4m8 commented on #118
Sorry to revive an old issue if this is dead — curious if this is still on any roadmaps.

[2016-10-08 17:30] HarysVizcaino opened #185 "Getting more done in GitHub with ZenHub"
Hola! @HarysVizcaino has created a [ZenHub](http://www.zenhub.com) account for the **anticoders** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=

[2018-08-07 10:34] apendua opened #187 "Migrate to Circle CI 2.0"

[2018-08-07 11:58] apendua opened #188 "Fix DEP0013 warning"
It looks like this is emitted here:

https://github.com/anticoders/gagarin/blob/master/lib/tools/index.js#L37

but it shouldn't be because the callback is present. Need to investigate.

[2018-09-05 05:58] woleEkanola commented on #173
@isbjorn How did you eventually do this?

[2018-09-05 06:01] woleEkanola commented on #159
How do I load mongo db from dump?

[2018-09-05 07:59] isbjorn commented on #173
@woleEkanola we moved out to the [official testing framework](https://guide.meteor.com/testing.html)

[2018-09-05 07:59] #173 closed

[2018-09-25 03:00] Manivannan-Kannan commented on #168
@NaderIkladious Can you tell is this issue resolved? I am facing same issue with my selenium tests, the chromeDriver version as below,

Selenium – version 3.11.0
Chrome Browser – version 66
ChromeDriver – version 2.39

the error
`unknown error: unhandled inspector error: {"code":-32000,"message":"Object reference chain is too long"}`

Thanks in advance.

[2019-07-15 11:52] #161 closed

[2020-02-17 06:55] duraisankar-k-19814 commented on #168
I am also facing this issue

Selenium - 3.14
Chrome  - 80.0.3987.106
ChromeDriver - 80.0.3987.16

Exception :

org.openqa.selenium.WebDriverException: unknown error: unhandled inspector error: {"code":-32000,"message":"Object reference chain is too long"}
  (Session info: chrome=80.0.3987.106)
Build info: version: '3.14.0', revision: 'aacccce0', time: '2018-08-02T20:19:58.91Z'
System info: host: '

[2021-04-16 20:40] #144 closed

[2021-07-01 21:04] jayschim2 commented on #168
I am having this same issue. Were any of you able to resolve it?  If so, how?

[2021-07-02 07:39] apendua commented on #168
@jayschim2 Is it possible that you're trying to pass a DOM element from a function that's executed inside browser to your testing code? Since the values first need to be serialized before they're passed around this may not work as expected. Generally all operations/ validations on DOM elements should be performed within browser.

I am wondering if this is related:

https://github.com/cyrus-and/chr